In [1]:
# Run this cell to import pyspark and to define start_spark() and stop_spark()

import findspark

findspark.init()

import getpass
import pandas
import pyspark
import random
import re

from IPython.display import display, HTML
from pyspark import SparkContext
from pyspark.sql import SparkSession


# Functions used below

def username():
    """Get username with any domain information removed.
    """

    return re.sub('@.*', '', getpass.getuser())


def dict_to_html(d):
    """Convert a Python dictionary into a two column table for display.
    """

    html = []

    html.append(f'<table width="100%" style="width:100%; font-family: monospace;">')
    for k, v in d.items():
        html.append(f'<tr><td style="text-align:left;">{k}</td><td>{v}</td></tr>')
    html.append(f'</table>')

    return ''.join(html)


def show_as_html(df, n=20):
    """Leverage existing pandas jupyter integration to show a spark dataframe as html.
    
    Args:
        n (int): number of rows to show (default: 20)
    """

    display(df.limit(n).toPandas())

    
def display_spark():
    """Display the status of the active Spark session if one is currently running.
    """
    
    if 'spark' in globals() and 'sc' in globals():

        name = sc.getConf().get("spark.app.name")
        
        html = [
            f'<p><b>Spark</b></p>',
            f'<p>The spark session is <b><span style="color:green">active</span></b>, look for <code>{name}</code> under the running applications section in the Spark UI.</p>',
            f'<ul>',
            f'<li><a href="http://mathmadslinux2p.canterbury.ac.nz:8080/" target="_blank">Spark UI</a></li>',
            f'<li><a href="{sc.uiWebUrl}" target="_blank">Spark Application UI</a></li>',
            f'</ul>',
            f'<p><b>Config</b></p>',
            dict_to_html(dict(sc.getConf().getAll())),
            f'<p><b>Notes</b></p>',
            f'<ul>',
            f'<li>The spark session <code>spark</code> and spark context <code>sc</code> global variables have been defined by <code>start_spark()</code>.</li>',
            f'<li>Please run <code>stop_spark()</code> before closing the notebook or restarting the kernel or kill <code>{name}</code> by hand using the link in the Spark UI.</li>',
            f'</ul>',
        ]
        display(HTML(''.join(html)))
        
    else:
        
        html = [
            f'<p><b>Spark</b></p>',
            f'<p>The spark session is <b><span style="color:red">stopped</span></b>, confirm that <code>{username() + " (jupyter)"}</code> is under the completed applications section in the Spark UI.</p>',
            f'<ul>',
            f'<li><a href="http://mathmadslinux2p.canterbury.ac.nz:8080/" target="_blank">Spark UI</a></li>',
            f'</ul>',
        ]
        display(HTML(''.join(html)))


# Functions to start and stop spark

def start_spark(executor_instances=2, executor_cores=1, worker_memory=1, master_memory=1):
    """Start a new Spark session and define globals for SparkSession (spark) and SparkContext (sc).
    
    Args:
        executor_instances (int): number of executors (default: 2)
        executor_cores (int): number of cores per executor (default: 1)
        worker_memory (float): worker memory (default: 1)
        master_memory (float): master memory (default: 1)
    """

    global spark
    global sc

    user = username()
    
    cores = executor_instances * executor_cores
    partitions = cores * 4
    port = 4000 + random.randint(1, 999)

    spark = (
        SparkSession.builder
        .master("spark://masternode2:7077")
        .config("spark.driver.extraJavaOptions", f"-Dderby.system.home=/tmp/{user}/spark/")
        .config("spark.dynamicAllocation.enabled", "false")
        .config("spark.executor.instances", str(executor_instances))
        .config("spark.executor.cores", str(executor_cores))
        .config("spark.cores.max", str(cores))
        .config("spark.executor.memory", f"{worker_memory}g")
        .config("spark.driver.memory", f"{master_memory}g")
        .config("spark.driver.maxResultSize", "0")
        .config("spark.sql.shuffle.partitions", str(partitions))
        .config("spark.ui.port", str(port))
        .appName(user + " (jupyter)")
        .getOrCreate()
    )
    sc = SparkContext.getOrCreate()
    
    display_spark()

    
def stop_spark():
    """Stop the active Spark session and delete globals for SparkSession (spark) and SparkContext (sc).
    """

    global spark
    global sc

    if 'spark' in globals() and 'sc' in globals():

        spark.stop()

        del spark
        del sc

    display_spark()


# Make css changes to improve spark output readability

html = [
    '<style>',
    'pre { white-space: pre !important; }',
    'table.dataframe td { white-space: nowrap !important; }',
    'table.dataframe thead th:first-child, table.dataframe tbody th { display: none; }',
    '</style>',
]
display(HTML(''.join(html)))

In [2]:
# Run this cell to start a spark session in this notebook

start_spark(executor_instances=2, executor_cores=1, worker_memory=1, master_memory=1)

<h3>Processing<h3>

<h3>Q1<h3> Define the separate data sources as daily, stations, states, countries, and inventory
respectively. All of the data is stored in HDFS under hdfs:///data/ghcnd and is read only. Do
not copy any of the data to your home directory.
Use the hdfs command to explore hdfs:///data/ghcnd without actually loading any data into
memory.
(a) How is the data structured? Draw a directory tree to represent this in a sensible way.
(b) How many years are contained in daily, and how does the size of the data change?
(c) What is the total size of all of the data? How much of that is daily?

In [71]:
#Q1 - 1
#Data Structure
!hdfs dfs -ls /data/ghcnd/

Found 5 items
drwxr-xr-x   - jsw93 supergroup          0 2024-03-19 00:11 /data/ghcnd/daily
-rwxr-xr-x   8 jsw93 supergroup       3659 2024-03-11 00:45 /data/ghcnd/ghcnd-countries.txt
-rwxr-xr-x   8 jsw93 supergroup   34380032 2024-03-11 00:39 /data/ghcnd/ghcnd-inventory.txt
-rwxr-xr-x   8 jsw93 supergroup       1086 2024-03-11 00:45 /data/ghcnd/ghcnd-states.txt
-rwxr-xr-x   8 jsw93 supergroup   10834968 2024-03-11 00:39 /data/ghcnd/ghcnd-stations.txt

In [4]:
#Q1 - 2
#Number of years in daily
!hdfs dfs -ls /data/ghcnd/daily/

Found 263 items
-rw-r--r--   8 jsw93 supergroup     517706 2024-03-18 23:56 /data/ghcnd/daily/1750.csv.gz
-rw-r--r--   8 jsw93 supergroup       3358 2024-03-18 23:57 /data/ghcnd/daily/1763.csv.gz
-rw-r--r--   8 jsw93 supergroup       3327 2024-03-18 23:54 /data/ghcnd/daily/1764.csv.gz
-rw-r--r--   8 jsw93 supergroup       3335 2024-03-18 23:54 /data/ghcnd/daily/1765.csv.gz
-rw-r--r--   8 jsw93 supergroup       3344 2024-03-18 23:49 /data/ghcnd/daily/1766.csv.gz
-rw-r--r--   8 jsw93 supergroup       3356 2024-03-18 23:56 /data/ghcnd/daily/1767.csv.gz
-rw-r--r--   8 jsw93 supergroup       3325 2024-03-18 23:53 /data/ghcnd/daily/1768.csv.gz
-rw-r--r--   8 jsw93 supergroup       3418 2024-03-18 23:54 /data/ghcnd/daily/1769.csv.gz
-rw-r--r--   8 jsw93 supergroup       3357 2024-03-18 23:56 /data/ghcnd/daily/1770.csv.gz
-rw-r--r--   8 jsw93 supergroup       3373 2024-03-18 23:56 /data/ghcnd/daily/1771.csv.gz
-rw-r--r--   8 jsw93 supergroup       3419 2024-03-18 23:55 /data/ghcnd/daily/1772.csv.gz
-rw-r--r--   8 jsw93 supergroup       3368 2024-03-18 23:57 /data/ghcnd/daily/1773.csv.gz
-rw-r--r--   8 jsw93 supergroup       3393 2024-03-18 23:54 /data/ghcnd/daily/1774.csv.gz
-rw-r--r--   8 jsw93 supergroup       6365 2024-03-18 23:51 /data/ghcnd/daily/1775.csv.gz
-rw-r--r--   8 jsw93 supergroup       6425 2024-03-18 23:56 /data/ghcnd/daily/1776.csv.gz
-rw-r--r--   8 jsw93 supergroup       6424 2024-03-18 23:56 /data/ghcnd/daily/1777.csv.gz
-rw-r--r--   8 jsw93 supergroup       6240 2024-03-18 23:50 /data/ghcnd/daily/1778.csv.gz
-rw-r--r--   8 jsw93 supergroup       6144 2024-03-18 23:54 /data/ghcnd/daily/1779.csv.gz
-rw-r--r--   8 jsw93 supergroup       6245 2024-03-18 23:50 /data/ghcnd/daily/1780.csv.gz
-rw-r--r--   8 jsw93 supergroup       7799 2024-03-18 23:52 /data/ghcnd/daily/1781.csv.gz
-rw-r--r--   8 jsw93 supergroup       7808 2024-03-18 23:52 /data/ghcnd/daily/1782.csv.gz
-rw-r--r--   8 jsw93 supergroup       7920 2024-03-18 23:56 /data/ghcnd/daily/1783.csv.gz
-rw-r--r--   8 jsw93 supergroup       7946 2024-03-18 23:52 /data/ghcnd/daily/1784.csv.gz
-rw-r--r--   8 jsw93 supergroup       7804 2024-03-18 23:56 /data/ghcnd/daily/1785.csv.gz
-rw-r--r--   8 jsw93 supergroup       7891 2024-03-18 23:51 /data/ghcnd/daily/1786.csv.gz
-rw-r--r--   8 jsw93 supergroup       6336 2024-03-18 23:53 /data/ghcnd/daily/1787.csv.gz
-rw-r--r--   8 jsw93 supergroup       6394 2024-03-18 23:54 /data/ghcnd/daily/1788.csv.gz
-rw-r--r--   8 jsw93 supergroup       7773 2024-03-18 23:56 /data/ghcnd/daily/1789.csv.gz
-rw-r--r--   8 jsw93 supergroup       7786 2024-03-18 23:53 /data/ghcnd/daily/1790.csv.gz
-rw-r--r--   8 jsw93 supergroup       7734 2024-03-18 23:52 /data/ghcnd/daily/1791.csv.gz
-rw-r--r--   8 jsw93 supergroup       7806 2024-03-18 23:52 /data/ghcnd/daily/1792.csv.gz
-rw-r--r--   8 jsw93 supergroup       6342 2024-03-18 23:54 /data/ghcnd/daily/1793.csv.gz
-rw-r--r--   8 jsw93 supergroup       7770 2024-03-18 23:50 /data/ghcnd/daily/1794.csv.gz
-rw-r--r--   8 jsw93 supergroup       7843 2024-03-18 23:55 /data/ghcnd/daily/1795.csv.gz
-rw-r--r--   8 jsw93 supergroup       7821 2024-03-18 23:50 /data/ghcnd/daily/1796.csv.gz
-rw-r--r--   8 jsw93 supergroup       9239 2024-03-18 23:50 /data/ghcnd/daily/1797.csv.gz
-rw-r--r--   8 jsw93 supergroup       9290 2024-03-18 23:50 /data/ghcnd/daily/1798.csv.gz
-rw-r--r--   8 jsw93 supergroup       6351 2024-03-18 23:50 /data/ghcnd/daily/1799.csv.gz
-rw-r--r--   8 jsw93 supergroup       7783 2024-03-18 23:51 /data/ghcnd/daily/1800.csv.gz
-rw-r--r--   8 jsw93 supergroup       7801 2024-03-18 23:50 /data/ghcnd/daily/1801.csv.gz
-rw-r--r--   8 jsw93 supergroup       9195 2024-03-18 23:56 /data/ghcnd/daily/1802.csv.gz
-rw-r--r--   8 jsw93 supergroup       7892 2024-03-18 23:54 /data/ghcnd/daily/1803.csv.gz
-rw-r--r--   8 jsw93 supergroup       8727 2024-03-18 23:53 /data/ghcnd/daily/1804.csv.gz
-rw-r--r--   8 jsw93 supergroup       8901 2024-03-18 23:57 /data/ghcnd/daily/1805.csv.gz
-rw-r--r--   8 jsw93 supergroup       8598 2024-03-18 23:52 /data/ghcnd/daily/1806.csv.gz
-rw-r--r--   8 jsw93 supergroup       8725 2024-03-18 23:53 /data/ghcnd/daily/1807.csv.gz
-rw-r--r--   8 jsw93 supergroup       8928 2024-03-18 23:50 /data/ghcnd/daily/1808.csv.gz
-rw-r--r--   8 jsw93 supergroup       8778 2024-03-18 23:51 /data/ghcnd/daily/1809.csv.gz
-rw-r--r--   8 jsw93 supergroup       8829 2024-03-18 23:52 /data/ghcnd/daily/1810.csv.gz
-rw-r--r--   8 jsw93 supergroup       8932 2024-03-18 23:54 /data/ghcnd/daily/1811.csv.gz
-rw-r--r--   8 jsw93 supergroup       8993 2024-03-18 23:56 /data/ghcnd/daily/1812.csv.gz
-rw-r--r--   8 jsw93 supergroup       9264 2024-03-18 23:50 /data/ghcnd/daily/1813.csv.gz
-rw-r--r--   8 jsw93 supergroup      10833 2024-03-18 23:56 /data/ghcnd/daily/1814.csv.gz
-rw-r--r--   8 jsw93 supergroup      13884 2024-03-18 23:51 /data/ghcnd/daily/1815.csv.gz
-rw-r--r--   8 jsw93 supergroup      13865 2024-03-18 23:56 /data/ghcnd/daily/1816.csv.gz
-rw-r--r--   8 jsw93 supergroup      13758 2024-03-18 23:53 /data/ghcnd/daily/1817.csv.gz
-rw-r--r--   8 jsw93 supergroup      13758 2024-03-18 23:50 /data/ghcnd/daily/1818.csv.gz
-rw-r--r--   8 jsw93 supergroup      13690 2024-03-18 23:57 /data/ghcnd/daily/1819.csv.gz
-rw-r--r--   8 jsw93 supergroup      13997 2024-03-18 23:49 /data/ghcnd/daily/1820.csv.gz
-rw-r--r--   8 jsw93 supergroup      13792 2024-03-18 23:54 /data/ghcnd/daily/1821.csv.gz
-rw-r--r--   8 jsw93 supergroup      14049 2024-03-18 23:53 /data/ghcnd/daily/1822.csv.gz
-rw-r--r--   8 jsw93 supergroup      14745 2024-03-18 23:50 /data/ghcnd/daily/1823.csv.gz
-rw-r--r--   8 jsw93 supergroup      18035 2024-03-18 23:50 /data/ghcnd/daily/1824.csv.gz
-rw-r--r--   8 jsw93 supergroup      18101 2024-03-18 23:50 /data/ghcnd/daily/1825.csv.gz
-rw-r--r--   8 jsw93 supergroup      18403 2024-03-18 23:54 /data/ghcnd/daily/1826.csv.gz
-rw-r--r--   8 jsw93 supergroup      20855 2024-03-18 23:52 /data/ghcnd/daily/1827.csv.gz
-rw-r--r--   8 jsw93 supergroup      20981 2024-03-18 23:50 /data/ghcnd/daily/1828.csv.gz
-rw-r--r--   8 jsw93 supergroup      21141 2024-03-18 23:56 /data/ghcnd/daily/1829.csv.gz
-rw-r--r--   8 jsw93 supergroup      21306 2024-03-18 23:53 /data/ghcnd/daily/1830.csv.gz
-rw-r--r--   8 jsw93 supergroup      21319 2024-03-18 23:52 /data/ghcnd/daily/1831.csv.gz
-rw-r--r--   8 jsw93 supergroup      22435 2024-03-18 23:52 /data/ghcnd/daily/1832.csv.gz
-rw-r--r--   8 jsw93 supergroup      27286 2024-03-18 23:55 /data/ghcnd/daily/1833.csv.gz
-rw-r--r--   8 jsw93 supergroup      27098 2024-03-18 23:50 /data/ghcnd/daily/1834.csv.gz
-rw-r--r--   8 jsw93 supergroup      27516 2024-03-18 23:53 /data/ghcnd/daily/1835.csv.gz
-rw-r--r--   8 jsw93 supergroup      29812 2024-03-18 23:50 /data/ghcnd/daily/1836.csv.gz
-rw-r--r--   8 jsw93 supergroup      29339 2024-03-18 23:53 /data/ghcnd/daily/1837.csv.gz
-rw-r--r--   8 jsw93 supergroup      31700 2024-03-18 23:53 /data/ghcnd/daily/1838.csv.gz
-rw-r--r--   8 jsw93 supergroup      29587 2024-03-18 23:54 /data/ghcnd/daily/1839.csv.gz
-rw-r--r--   8 jsw93 supergroup      35991 2024-03-18 23:50 /data/ghcnd/daily/1840.csv.gz
-rw-r--r--   8 jsw93 supergroup      36990 2024-03-18 23:52 /data/ghcnd/daily/1841.csv.gz
-rw-r--r--   8 jsw93 supergroup      39432 2024-03-18 23:52 /data/ghcnd/daily/1842.csv.gz
-rw-r--r--   8 jsw93 supergroup      39397 2024-03-18 23:50 /data/ghcnd/daily/1843.csv.gz
-rw-r--r--   8 jsw93 supergroup      43316 2024-03-18 23:54 /data/ghcnd/daily/1844.csv.gz
-rw-r--r--   8 jsw93 supergroup      47105 2024-03-18 23:56 /data/ghcnd/daily/1845.csv.gz
-rw-r--r--   8 jsw93 supergroup      44647 2024-03-18 23:54 /data/ghcnd/daily/1846.csv.gz
-rw-r--r--   8 jsw93 supergroup      46181 2024-03-18 23:56 /data/ghcnd/daily/1847.csv.gz
-rw-r--r--   8 jsw93 supergroup      45048 2024-03-18 23:54 /data/ghcnd/daily/1848.csv.gz
-rw-r--r--   8 jsw93 supergroup      47371 2024-03-18 23:50 /data/ghcnd/daily/1849.csv.gz
-rw-r--r--   8 jsw93 supergroup      47552 2024-03-18 23:56 /data/ghcnd/daily/1850.csv.gz
-rw-r--r--   8 jsw93 supergroup      55032 2024-03-18 23:50 /data/ghcnd/daily/1851.csv.gz
-rw-r--r--   8 jsw93 supergroup      58865 2024-03-18 23:53 /data/ghcnd/daily/1852.csv.gz
-rw-r--r--   8 jsw93 supergroup      59631 2024-03-18 23:51 /data/ghcnd/daily/1853.csv.gz
-rw-r--r--   8 jsw93 supergroup      59258 2024-03-18 23:55 /data/ghcnd/daily/1854.csv.gz
-rw-r--r--   8 jsw93 supergroup      64887 2024-03-18 23:53 /data/ghcnd/daily/1855.csv.gz
-rw-r--r--   8 jsw93 supergroup      76292 2024-03-18 23:55 /data/ghcnd/daily/1856.csv.gz
-rw-r--r--   8 jsw93 supergroup      83128 2024-03-18 23:55 /data/ghcnd/daily/1857.csv.gz
-rw-r--r--   8 jsw93 supergroup     115535 2024-03-18 23:50 /data/ghcnd/daily/1858.csv.gz
-rw-r--r--   8 jsw93 supergroup     128727 2024-03-18 23:56 /data/ghcnd/daily/1859.csv.gz
-rw-r--r--   8 jsw93 supergroup     137798 2024-03-18 23:50 /data/ghcnd/daily/1860.csv.gz
-rw-r--r--   8 jsw93 supergroup     143140 2024-03-18 23:50 /data/ghcnd/daily/1861.csv.gz
-rw-r--r--   8 jsw93 supergroup     137811 2024-03-18 23:52 /data/ghcnd/daily/1862.csv.gz
-rw-r--r--   8 jsw93 supergroup     155000 2024-03-18 23:49 /data/ghcnd/daily/1863.csv.gz
-rw-r--r--   8 jsw93 supergroup     159466 2024-03-18 23:54 /data/ghcnd/daily/1864.csv.gz
-rw-r--r--   8 jsw93 supergroup     160531 2024-03-18 23:56 /data/ghcnd/daily/1865.csv.gz
-rw-r--r--   8 jsw93 supergroup     208166 2024-03-18 23:50 /data/ghcnd/daily/1866.csv.gz
-rw-r--r--   8 jsw93 supergroup     249331 2024-03-18 23:54 /data/ghcnd/daily/1867.csv.gz
-rw-r--r--   8 jsw93 supergroup     262203 2024-03-18 23:52 /data/ghcnd/daily/1868.csv.gz
-rw-r--r--   8 jsw93 supergroup     303439 2024-03-18 23:54 /data/ghcnd/daily/1869.csv.gz
-rw-r--r--   8 jsw93 supergroup     348087 2024-03-18 23:51 /data/ghcnd/daily/1870.csv.gz
-rw-r--r--   8 jsw93 supergroup     458274 2024-03-18 23:54 /data/ghcnd/daily/1871.csv.gz
-rw-r--r--   8 jsw93 supergroup     621837 2024-03-18 23:51 /data/ghcnd/daily/1872.csv.gz
-rw-r--r--   8 jsw93 supergroup     695994 2024-03-18 23:50 /data/ghcnd/daily/1873.csv.gz
-rw-r--r--   8 jsw93 supergroup     778728 2024-03-18 23:54 /data/ghcnd/daily/1874.csv.gz
-rw-r--r--   8 jsw93 supergroup     846682 2024-03-18 23:55 /data/ghcnd/daily/1875.csv.gz
-rw-r--r--   8 jsw93 supergroup     917762 2024-03-18 23:56 /data/ghcnd/daily/1876.csv.gz
-rw-r--r--   8 jsw93 supergroup    1023524 2024-03-18 23:55 /data/ghcnd/daily/1877.csv.gz
-rw-r--r--   8 jsw93 supergroup    1216637 2024-03-18 23:52 /data/ghcnd/daily/1878.csv.gz
-rw-r--r--   8 jsw93 supergroup    1395605 2024-03-18 23:56 /data/ghcnd/daily/1879.csv.gz
-rw-r--r--   8 jsw93 supergroup    1757438 2024-03-18 23:55 /data/ghcnd/daily/1880.csv.gz
-rw-r--r--   8 jsw93 supergroup    2092310 2024-03-18 23:53 /data/ghcnd/daily/1881.csv.gz
-rw-r--r--   8 jsw93 supergroup    2383483 2024-03-18 23:50 /data/ghcnd/daily/1882.csv.gz
-rw-r--r--   8 jsw93 supergroup    2632037 2024-03-18 23:53 /data/ghcnd/daily/1883.csv.gz
-rw-r--r--   8 jsw93 supergroup    3148275 2024-03-18 23:55 /data/ghcnd/daily/1884.csv.gz
-rw-r--r--   8 jsw93 supergroup    3573924 2024-03-18 23:55 /data/ghcnd/daily/1885.csv.gz
-rw-r--r--   8 jsw93 supergroup    3917883 2024-03-18 23:55 /data/ghcnd/daily/1886.csv.gz
-rw-r--r--   8 jsw93 supergroup    4408281 2024-03-18 23:53 /data/ghcnd/daily/1887.csv.gz
-rw-r--r--   8 jsw93 supergroup    4747314 2024-03-18 23:51 /data/ghcnd/daily/1888.csv.gz
-rw-r--r--   8 jsw93 supergroup    5151816 2024-03-18 23:53 /data/ghcnd/daily/1889.csv.gz
-rw-r--r--   8 jsw93 supergroup    5617595 2024-03-18 23:51 /data/ghcnd/daily/1890.csv.gz
-rw-r--r--   8 jsw93 supergroup    5887970 2024-03-18 23:53 /data/ghcnd/daily/1891.csv.gz
-rw-r--r--   8 jsw93 supergroup    6794490 2024-03-18 23:57 /data/ghcnd/daily/1892.csv.gz
-rw-r--r--   8 jsw93 supergroup   12518573 2024-03-18 23:50 /data/ghcnd/daily/1893.csv.gz
-rw-r--r--   8 jsw93 supergroup   13382910 2024-03-18 23:53 /data/ghcnd/daily/1894.csv.gz
-rw-r--r--   8 jsw93 supergroup   14453168 2024-03-18 23:56 /data/ghcnd/daily/1895.csv.gz
-rw-r--r--   8 jsw93 supergroup   15584934 2024-03-18 23:54 /data/ghcnd/daily/1896.csv.gz
-rw-r--r--   8 jsw93 supergroup   16834783 2024-03-18 23:57 /data/ghcnd/daily/1897.csv.gz
-rw-r--r--   8 jsw93 supergroup   17568404 2024-03-18 23:51 /data/ghcnd/daily/1898.csv.gz
-rw-r--r--   8 jsw93 supergroup   18261126 2024-03-18 23:52 /data/ghcnd/daily/1899.csv.gz
-rw-r--r--   8 jsw93 supergroup   19509289 2024-03-18 23:52 /data/ghcnd/daily/1900.csv.gz
-rw-r--r--   8 jsw93 supergroup   24809775 2024-03-18 23:55 /data/ghcnd/daily/1901.csv.gz
-rw-r--r--   8 jsw93 supergroup   25742697 2024-03-18 23:52 /data/ghcnd/daily/1902.csv.gz
-rw-r--r--   8 jsw93 supergroup   26279812 2024-03-18 23:53 /data/ghcnd/daily/1903.csv.gz
-rw-r--r--   8 jsw93 supergroup   27132792 2024-03-18 23:57 /data/ghcnd/daily/1904.csv.gz
-rw-r--r--   8 jsw93 supergroup   28542246 2024-03-18 23:53 /data/ghcnd/daily/1905.csv.gz
-rw-r--r--   8 jsw93 supergroup   29171545 2024-03-18 23:56 /data/ghcnd/daily/1906.csv.gz
-rw-r--r--   8 jsw93 supergroup   29898159 2024-03-18 23:51 /data/ghcnd/daily/1907.csv.gz
-rw-r--r--   8 jsw93 supergroup   30598818 2024-03-18 23:53 /data/ghcnd/daily/1908.csv.gz
-rw-r--r--   8 jsw93 supergroup   32222575 2024-03-18 23:50 /data/ghcnd/daily/1909.csv.gz
-rw-r--r--   8 jsw93 supergroup   33303023 2024-03-18 23:50 /data/ghcnd/daily/1910.csv.gz
-rw-r--r--   8 jsw93 supergroup   34509481 2024-03-18 23:55 /data/ghcnd/daily/1911.csv.gz
-rw-r--r--   8 jsw93 supergroup   35809100 2024-03-18 23:50 /data/ghcnd/daily/1912.csv.gz
-rw-r--r--   8 jsw93 supergroup   36755750 2024-03-18 23:52 /data/ghcnd/daily/1913.csv.gz
-rw-r--r--   8 jsw93 supergroup   37941673 2024-03-18 23:53 /data/ghcnd/daily/1914.csv.gz
-rw-r--r--   8 jsw93 supergroup   39102481 2024-03-18 23:50 /data/ghcnd/daily/1915.csv.gz
-rw-r--r--   8 jsw93 supergroup   40434826 2024-03-18 23:51 /data/ghcnd/daily/1916.csv.gz
-rw-r--r--   8 jsw93 supergroup   40654601 2024-03-18 23:56 /data/ghcnd/daily/1917.csv.gz
-rw-r--r--   8 jsw93 supergroup   39716221 2024-03-18 23:50 /data/ghcnd/daily/1918.csv.gz
-rw-r--r--   8 jsw93 supergroup   39253748 2024-03-18 23:54 /data/ghcnd/daily/1919.csv.gz
-rw-r--r--   8 jsw93 supergroup   39491555 2024-03-18 23:53 /data/ghcnd/daily/1920.csv.gz
-rw-r--r--   8 jsw93 supergroup   39748597 2024-03-18 23:52 /data/ghcnd/daily/1921.csv.gz
-rw-r--r--   8 jsw93 supergroup   40470242 2024-03-18 23:54 /data/ghcnd/daily/1922.csv.gz
-rw-r--r--   8 jsw93 supergroup   41210729 2024-03-18 23:54 /data/ghcnd/daily/1923.csv.gz
-rw-r--r--   8 jsw93 supergroup   42037214 2024-03-18 23:54 /data/ghcnd/daily/1924.csv.gz
-rw-r--r--   8 jsw93 supergroup   42303743 2024-03-18 23:51 /data/ghcnd/daily/1925.csv.gz
-rw-r--r--   8 jsw93 supergroup   43495054 2024-03-18 23:54 /data/ghcnd/daily/1926.csv.gz
-rw-r--r--   8 jsw93 supergroup   44262489 2024-03-18 23:51 /data/ghcnd/daily/1927.csv.gz
-rw-r--r--   8 jsw93 supergroup   44787540 2024-03-18 23:57 /data/ghcnd/daily/1928.csv.gz
-rw-r--r--   8 jsw93 supergroup   45743322 2024-03-18 23:56 /data/ghcnd/daily/1929.csv.gz
-rw-r--r--   8 jsw93 supergroup   47123859 2024-03-18 23:55 /data/ghcnd/daily/1930.csv.gz
-rw-r--r--   8 jsw93 supergroup   48687150 2024-03-18 23:49 /data/ghcnd/daily/1931.csv.gz
-rw-r--r--   8 jsw93 supergroup   49739740 2024-03-18 23:56 /data/ghcnd/daily/1932.csv.gz
-rw-r--r--   8 jsw93 supergroup   50189322 2024-03-18 23:55 /data/ghcnd/daily/1933.csv.gz
-rw-r--r--   8 jsw93 supergroup   50510455 2024-03-18 23:55 /data/ghcnd/daily/1934.csv.gz
-rw-r--r--   8 jsw93 supergroup   51471341 2024-03-18 23:53 /data/ghcnd/daily/1935.csv.gz
-rw-r--r--   8 jsw93 supergroup   54583489 2024-03-18 23:56 /data/ghcnd/daily/1936.csv.gz
-rw-r--r--   8 jsw93 supergroup   55923499 2024-03-18 23:54 /data/ghcnd/daily/1937.csv.gz
-rw-r--r--   8 jsw93 supergroup   57040435 2024-03-18 23:56 /data/ghcnd/daily/1938.csv.gz
-rw-r--r--   8 jsw93 supergroup   58779978 2024-03-18 23:52 /data/ghcnd/daily/1939.csv.gz
-rw-r--r--   8 jsw93 supergroup   60992936 2024-03-18 23:52 /data/ghcnd/daily/1940.csv.gz
-rw-r--r--   8 jsw93 supergroup   62866123 2024-03-18 23:51 /data/ghcnd/daily/1941.csv.gz
-rw-r--r--   8 jsw93 supergroup   64942474 2024-03-18 23:53 /data/ghcnd/daily/1942.csv.gz
-rw-r--r--   8 jsw93 supergroup   65746374 2024-03-18 23:51 /data/ghcnd/daily/1943.csv.gz
-rw-r--r--   8 jsw93 supergroup   67455624 2024-03-18 23:53 /data/ghcnd/daily/1944.csv.gz
-rw-r--r--   8 jsw93 supergroup   69898920 2024-03-18 23:53 /data/ghcnd/daily/1945.csv.gz
-rw-r--r--   8 jsw93 supergroup   70349764 2024-03-18 23:53 /data/ghcnd/daily/1946.csv.gz
-rw-r--r--   8 jsw93 supergroup   72082716 2024-03-18 23:49 /data/ghcnd/daily/1947.csv.gz
-rw-r--r--   8 jsw93 supergroup   85869107 2024-03-18 23:52 /data/ghcnd/daily/1948.csv.gz
-rw-r--r--   8 jsw93 supergroup   98267372 2024-03-18 23:55 /data/ghcnd/daily/1949.csv.gz
-rw-r--r--   8 jsw93 supergroup  101262739 2024-03-18 23:51 /data/ghcnd/daily/1950.csv.gz
-rw-r--r--   8 jsw93 supergroup  104444843 2024-03-18 23:56 /data/ghcnd/daily/1951.csv.gz
-rw-r--r--   8 jsw93 supergroup  105807214 2024-03-18 23:51 /data/ghcnd/daily/1952.csv.gz
-rw-r--r--   8 jsw93 supergroup  107267279 2024-03-18 23:54 /data/ghcnd/daily/1953.csv.gz
-rw-r--r--   8 jsw93 supergroup  109267476 2024-03-18 23:56 /data/ghcnd/daily/1954.csv.gz
-rw-r--r--   8 jsw93 supergroup  111595862 2024-03-18 23:55 /data/ghcnd/daily/1955.csv.gz
-rw-r--r--   8 jsw93 supergroup  113748710 2024-03-18 23:54 /data/ghcnd/daily/1956.csv.gz
-rw-r--r--   8 jsw93 supergroup  116373929 2024-03-18 23:52 /data/ghcnd/daily/1957.csv.gz
-rw-r--r--   8 jsw93 supergroup  117509148 2024-03-18 23:52 /data/ghcnd/daily/1958.csv.gz
-rw-r--r--   8 jsw93 supergroup  119859261 2024-03-18 23:55 /data/ghcnd/daily/1959.csv.gz
-rw-r--r--   8 jsw93 supergroup  122199738 2024-03-18 23:56 /data/ghcnd/daily/1960.csv.gz
-rw-r--r--   8 jsw93 supergroup  125966374 2024-03-18 23:55 /data/ghcnd/daily/1961.csv.gz
-rw-r--r--   8 jsw93 supergroup  128645955 2024-03-18 23:53 /data/ghcnd/daily/1962.csv.gz
-rw-r--r--   8 jsw93 supergroup  131584069 2024-03-18 23:52 /data/ghcnd/daily/1963.csv.gz
-rw-r--r--   8 jsw93 supergroup  132547011 2024-03-18 23:50 /data/ghcnd/daily/1964.csv.gz
-rw-r--r--   8 jsw93 supergroup  136836385 2024-03-18 23:57 /data/ghcnd/daily/1965.csv.gz
-rw-r--r--   8 jsw93 supergroup  138634244 2024-03-18 23:55 /data/ghcnd/daily/1966.csv.gz
-rw-r--r--   8 jsw93 supergroup  139951903 2024-03-18 23:54 /data/ghcnd/daily/1967.csv.gz
-rw-r--r--   8 jsw93 supergroup  139530095 2024-03-18 23:53 /data/ghcnd/daily/1968.csv.gz
-rw-r--r--   8 jsw93 supergroup  141299817 2024-03-18 23:53 /data/ghcnd/daily/1969.csv.gz
-rw-r--r--   8 jsw93 supergroup  142164837 2024-03-18 23:52 /data/ghcnd/daily/1970.csv.gz
-rw-r--r--   8 jsw93 supergroup  136910250 2024-03-18 23:51 /data/ghcnd/daily/1971.csv.gz
-rw-r--r--   8 jsw93 supergroup  135990448 2024-03-18 23:51 /data/ghcnd/daily/1972.csv.gz
-rw-r--r--   8 jsw93 supergroup  142450678 2024-03-18 23:54 /data/ghcnd/daily/1973.csv.gz
-rw-r--r--   8 jsw93 supergroup  143636783 2024-03-18 23:50 /data/ghcnd/daily/1974.csv.gz
-rw-r--r--   8 jsw93 supergroup  143102873 2024-03-18 23:56 /data/ghcnd/daily/1975.csv.gz
-rw-r--r--   8 jsw93 supergroup  142891678 2024-03-18 23:52 /data/ghcnd/daily/1976.csv.gz
-rw-r--r--   8 jsw93 supergroup  142698032 2024-03-18 23:54 /data/ghcnd/daily/1977.csv.gz
-rw-r--r--   8 jsw93 supergroup  142869734 2024-03-18 23:56 /data/ghcnd/daily/1978.csv.gz
-rw-r--r--   8 jsw93 supergroup  143163083 2024-03-18 23:55 /data/ghcnd/daily/1979.csv.gz
-rw-r--r--   8 jsw93 supergroup  143517737 2024-03-18 23:50 /data/ghcnd/daily/1980.csv.gz
-rw-r--r--   8 jsw93 supergroup  146423479 2024-03-18 23:50 /data/ghcnd/daily/1981.csv.gz
-rw-r--r--   8 jsw93 supergroup  148197772 2024-03-18 23:50 /data/ghcnd/daily/1982.csv.gz
-rw-r--r--   8 jsw93 supergroup  149562411 2024-03-18 23:57 /data/ghcnd/daily/1983.csv.gz

In [5]:
#Q1 - 2
#Size of the data changes in Daily
!hdfs dfs -du -h /data/ghcnd/daily/

505.6 K  3.9 M     /data/ghcnd/daily/1750.csv.gz
3.3 K    26.2 K    /data/ghcnd/daily/1763.csv.gz
3.2 K    26.0 K    /data/ghcnd/daily/1764.csv.gz
3.3 K    26.1 K    /data/ghcnd/daily/1765.csv.gz
3.3 K    26.1 K    /data/ghcnd/daily/1766.csv.gz
3.3 K    26.2 K    /data/ghcnd/daily/1767.csv.gz
3.2 K    26.0 K    /data/ghcnd/daily/1768.csv.gz
3.3 K    26.7 K    /data/ghcnd/daily/1769.csv.gz
3.3 K    26.2 K    /data/ghcnd/daily/1770.csv.gz
3.3 K    26.4 K    /data/ghcnd/daily/1771.csv.gz
3.3 K    26.7 K    /data/ghcnd/daily/1772.csv.gz
3.3 K    26.3 K    /data/ghcnd/daily/1773.csv.gz
3.3 K    26.5 K    /data/ghcnd/daily/1774.csv.gz
6.2 K    49.7 K    /data/ghcnd/daily/1775.csv.gz
6.3 K    50.2 K    /data/ghcnd/daily/1776.csv.gz
6.3 K    50.2 K    /data/ghcnd/daily/1777.csv.gz
6.1 K    48.8 K    /data/ghcnd/daily/1778.csv.gz
6 K      48 K      /data/ghcnd/daily/1779.csv.gz
6.1 K    48.8 K    /data/ghcnd/daily/1780.csv.gz
7.6 K    60.9 K    /data/ghcnd/daily/1781.csv.gz
7.6 K    61 K      /data/ghcnd/daily/1782.csv.gz
7.7 K    61.9 K    /data/ghcnd/daily/1783.csv.gz
7.8 K    62.1 K    /data/ghcnd/daily/1784.csv.gz
7.6 K    61.0 K    /data/ghcnd/daily/1785.csv.gz
7.7 K    61.6 K    /data/ghcnd/daily/1786.csv.gz
6.2 K    49.5 K    /data/ghcnd/daily/1787.csv.gz
6.2 K    50.0 K    /data/ghcnd/daily/1788.csv.gz
7.6 K    60.7 K    /data/ghcnd/daily/1789.csv.gz
7.6 K    60.8 K    /data/ghcnd/daily/1790.csv.gz
7.6 K    60.4 K    /data/ghcnd/daily/1791.csv.gz
7.6 K    61.0 K    /data/ghcnd/daily/1792.csv.gz
6.2 K    49.5 K    /data/ghcnd/daily/1793.csv.gz
7.6 K    60.7 K    /data/ghcnd/daily/1794.csv.gz
7.7 K    61.3 K    /data/ghcnd/daily/1795.csv.gz
7.6 K    61.1 K    /data/ghcnd/daily/1796.csv.gz
9.0 K    72.2 K    /data/ghcnd/daily/1797.csv.gz
9.1 K    72.6 K    /data/ghcnd/daily/1798.csv.gz
6.2 K    49.6 K    /data/ghcnd/daily/1799.csv.gz
7.6 K    60.8 K    /data/ghcnd/daily/1800.csv.gz
7.6 K    60.9 K    /data/ghcnd/daily/1801.csv.gz
9.0 K    71.8 K    /data/ghcnd/daily/1802.csv.gz
7.7 K    61.7 K    /data/ghcnd/daily/1803.csv.gz
8.5 K    68.2 K    /data/ghcnd/daily/1804.csv.gz
8.7 K    69.5 K    /data/ghcnd/daily/1805.csv.gz
8.4 K    67.2 K    /data/ghcnd/daily/1806.csv.gz
8.5 K    68.2 K    /data/ghcnd/daily/1807.csv.gz
8.7 K    69.8 K    /data/ghcnd/daily/1808.csv.gz
8.6 K    68.6 K    /data/ghcnd/daily/1809.csv.gz
8.6 K    69.0 K    /data/ghcnd/daily/1810.csv.gz
8.7 K    69.8 K    /data/ghcnd/daily/1811.csv.gz
8.8 K    70.3 K    /data/ghcnd/daily/1812.csv.gz
9.0 K    72.4 K    /data/ghcnd/daily/1813.csv.gz
10.6 K   84.6 K    /data/ghcnd/daily/1814.csv.gz
13.6 K   108.5 K   /data/ghcnd/daily/1815.csv.gz
13.5 K   108.3 K   /data/ghcnd/daily/1816.csv.gz
13.4 K   107.5 K   /data/ghcnd/daily/1817.csv.gz
13.4 K   107.5 K   /data/ghcnd/daily/1818.csv.gz
13.4 K   107.0 K   /data/ghcnd/daily/1819.csv.gz
13.7 K   109.4 K   /data/ghcnd/daily/1820.csv.gz
13.5 K   107.8 K   /data/ghcnd/daily/1821.csv.gz
13.7 K   109.8 K   /data/ghcnd/daily/1822.csv.gz
14.4 K   115.2 K   /data/ghcnd/daily/1823.csv.gz
17.6 K   140.9 K   /data/ghcnd/daily/1824.csv.gz
17.7 K   141.4 K   /data/ghcnd/daily/1825.csv.gz
18.0 K   143.8 K   /data/ghcnd/daily/1826.csv.gz
20.4 K   162.9 K   /data/ghcnd/daily/1827.csv.gz
20.5 K   163.9 K   /data/ghcnd/daily/1828.csv.gz
20.6 K   165.2 K   /data/ghcnd/daily/1829.csv.gz
20.8 K   166.5 K   /data/ghcnd/daily/1830.csv.gz
20.8 K   166.6 K   /data/ghcnd/daily/1831.csv.gz
21.9 K   175.3 K   /data/ghcnd/daily/1832.csv.gz
26.6 K   213.2 K   /data/ghcnd/daily/1833.csv.gz
26.5 K   211.7 K   /data/ghcnd/daily/1834.csv.gz
26.9 K   215.0 K   /data/ghcnd/daily/1835.csv.gz
29.1 K   232.9 K   /data/ghcnd/daily/1836.csv.gz
28.7 K   229.2 K   /data/ghcnd/daily/1837.csv.gz
31.0 K   247.7 K   /data/ghcnd/daily/1838.csv.gz
28.9 K   231.1 K   /data/ghcnd/daily/1839.csv.gz
35.1 K   281.2 K   /data/ghcnd/daily/1840.csv.gz
36.1 K   289.0 K   /data/ghcnd/daily/1841.csv.gz
38.5 K   308.1 K   /data/ghcnd/daily/1842.csv.gz
38.5 K   307.8 K   /data/ghcnd/daily/1843.csv.gz
42.3 K   338.4 K   /data/ghcnd/daily/1844.csv.gz
46.0 K   368.0 K   /data/ghcnd/daily/1845.csv.gz
43.6 K   348.8 K   /data/ghcnd/daily/1846.csv.gz
45.1 K   360.8 K   /data/ghcnd/daily/1847.csv.gz
44.0 K   351.9 K   /data/ghcnd/daily/1848.csv.gz
46.3 K   370.1 K   /data/ghcnd/daily/1849.csv.gz
46.4 K   371.5 K   /data/ghcnd/daily/1850.csv.gz
53.7 K   429.9 K   /data/ghcnd/daily/1851.csv.gz
57.5 K   459.9 K   /data/ghcnd/daily/1852.csv.gz
58.2 K   465.9 K   /data/ghcnd/daily/1853.csv.gz
57.9 K   463.0 K   /data/ghcnd/daily/1854.csv.gz
63.4 K   506.9 K   /data/ghcnd/daily/1855.csv.gz
74.5 K   596.0 K   /data/ghcnd/daily/1856.csv.gz
81.2 K   649.4 K   /data/ghcnd/daily/1857.csv.gz
112.8 K  902.6 K   /data/ghcnd/daily/1858.csv.gz
125.7 K  1005.7 K  /data/ghcnd/daily/1859.csv.gz
134.6 K  1.1 M     /data/ghcnd/daily/1860.csv.gz
139.8 K  1.1 M     /data/ghcnd/daily/1861.csv.gz
134.6 K  1.1 M     /data/ghcnd/daily/1862.csv.gz
151.4 K  1.2 M     /data/ghcnd/daily/1863.csv.gz
155.7 K  1.2 M     /data/ghcnd/daily/1864.csv.gz
156.8 K  1.2 M     /data/ghcnd/daily/1865.csv.gz
203.3 K  1.6 M     /data/ghcnd/daily/1866.csv.gz
243.5 K  1.9 M     /data/ghcnd/daily/1867.csv.gz
256.1 K  2.0 M     /data/ghcnd/daily/1868.csv.gz
296.3 K  2.3 M     /data/ghcnd/daily/1869.csv.gz
339.9 K  2.7 M     /data/ghcnd/daily/1870.csv.gz
447.5 K  3.5 M     /data/ghcnd/daily/1871.csv.gz
607.3 K  4.7 M     /data/ghcnd/daily/1872.csv.gz
679.7 K  5.3 M     /data/ghcnd/daily/1873.csv.gz
760.5 K  5.9 M     /data/ghcnd/daily/1874.csv.gz
826.8 K  6.5 M     /data/ghcnd/daily/1875.csv.gz
896.3 K  7.0 M     /data/ghcnd/daily/1876.csv.gz
999.5 K  7.8 M     /data/ghcnd/daily/1877.csv.gz
1.2 M    9.3 M     /data/ghcnd/daily/1878.csv.gz
1.3 M    10.6 M    /data/ghcnd/daily/1879.csv.gz
1.7 M    13.4 M    /data/ghcnd/daily/1880.csv.gz
2.0 M    16.0 M    /data/ghcnd/daily/1881.csv.gz
2.3 M    18.2 M    /data/ghcnd/daily/1882.csv.gz
2.5 M    20.1 M    /data/ghcnd/daily/1883.csv.gz
3.0 M    24.0 M    /data/ghcnd/daily/1884.csv.gz
3.4 M    27.3 M    /data/ghcnd/daily/1885.csv.gz
3.7 M    29.9 M    /data/ghcnd/daily/1886.csv.gz
4.2 M    33.6 M    /data/ghcnd/daily/1887.csv.gz
4.5 M    36.2 M    /data/ghcnd/daily/1888.csv.gz
4.9 M    39.3 M    /data/ghcnd/daily/1889.csv.gz
5.4 M    42.9 M    /data/ghcnd/daily/1890.csv.gz
5.6 M    44.9 M    /data/ghcnd/daily/1891.csv.gz
6.5 M    51.8 M    /data/ghcnd/daily/1892.csv.gz
11.9 M   95.5 M    /data/ghcnd/daily/1893.csv.gz
12.8 M   102.1 M   /data/ghcnd/daily/1894.csv.gz
13.8 M   110.3 M   /data/ghcnd/daily/1895.csv.gz
14.9 M   118.9 M   /data/ghcnd/daily/1896.csv.gz
16.1 M   128.4 M   /data/ghcnd/daily/1897.csv.gz
16.8 M   134.0 M   /data/ghcnd/daily/1898.csv.gz
17.4 M   139.3 M   /data/ghcnd/daily/1899.csv.gz
18.6 M   148.8 M   /data/ghcnd/daily/1900.csv.gz
23.7 M   189.3 M   /data/ghcnd/daily/1901.csv.gz
24.6 M   196.4 M   /data/ghcnd/daily/1902.csv.gz
25.1 M   200.5 M   /data/ghcnd/daily/1903.csv.gz
25.9 M   207.0 M   /data/ghcnd/daily/1904.csv.gz
27.2 M   217.8 M   /data/ghcnd/daily/1905.csv.gz
27.8 M   222.6 M   /data/ghcnd/daily/1906.csv.gz
28.5 M   228.1 M   /data/ghcnd/daily/1907.csv.gz
29.2 M   233.5 M   /data/ghcnd/daily/1908.csv.gz
30.7 M   245.8 M   /data/ghcnd/daily/1909.csv.gz
31.8 M   254.1 M   /data/ghcnd/daily/1910.csv.gz
32.9 M   263.3 M   /data/ghcnd/daily/1911.csv.gz
34.2 M   273.2 M   /data/ghcnd/daily/1912.csv.gz
35.1 M   280.4 M   /data/ghcnd/daily/1913.csv.gz
36.2 M   289.5 M   /data/ghcnd/daily/1914.csv.gz
37.3 M   298.3 M   /data/ghcnd/daily/1915.csv.gz
38.6 M   308.5 M   /data/ghcnd/daily/1916.csv.gz
38.8 M   310.2 M   /data/ghcnd/daily/1917.csv.gz
37.9 M   303.0 M   /data/ghcnd/daily/1918.csv.gz
37.4 M   299.5 M   /data/ghcnd/daily/1919.csv.gz
37.7 M   301.3 M   /data/ghcnd/daily/1920.csv.gz
37.9 M   303.3 M   /data/ghcnd/daily/1921.csv.gz
38.6 M   308.8 M   /data/ghcnd/daily/1922.csv.gz
39.3 M   314.4 M   /data/ghcnd/daily/1923.csv.gz
40.1 M   320.7 M   /data/ghcnd/daily/1924.csv.gz
40.3 M   322.8 M   /data/ghcnd/daily/1925.csv.gz
41.5 M   331.8 M   /data/ghcnd/daily/1926.csv.gz
42.2 M   337.7 M   /data/ghcnd/daily/1927.csv.gz
42.7 M   341.7 M   /data/ghcnd/daily/1928.csv.gz
43.6 M   349.0 M   /data/ghcnd/daily/1929.csv.gz
44.9 M   359.5 M   /data/ghcnd/daily/1930.csv.gz
46.4 M   371.5 M   /data/ghcnd/daily/1931.csv.gz
47.4 M   379.5 M   /data/ghcnd/daily/1932.csv.gz
47.9 M   382.9 M   /data/ghcnd/daily/1933.csv.gz
48.2 M   385.4 M   /data/ghcnd/daily/1934.csv.gz
49.1 M   392.7 M   /data/ghcnd/daily/1935.csv.gz
52.1 M   416.4 M   /data/ghcnd/daily/1936.csv.gz
53.3 M   426.7 M   /data/ghcnd/daily/1937.csv.gz
54.4 M   435.2 M   /data/ghcnd/daily/1938.csv.gz
56.1 M   448.5 M   /data/ghcnd/daily/1939.csv.gz
58.2 M   465.3 M   /data/ghcnd/daily/1940.csv.gz
60.0 M   479.6 M   /data/ghcnd/daily/1941.csv.gz
61.9 M   495.5 M   /data/ghcnd/daily/1942.csv.gz
62.7 M   501.6 M   /data/ghcnd/daily/1943.csv.gz
64.3 M   514.6 M   /data/ghcnd/daily/1944.csv.gz
66.7 M   533.3 M   /data/ghcnd/daily/1945.csv.gz
67.1 M   536.7 M   /data/ghcnd/daily/1946.csv.gz
68.7 M   549.9 M   /data/ghcnd/daily/1947.csv.gz
81.9 M   655.1 M   /data/ghcnd/daily/1948.csv.gz
93.7 M   749.7 M   /data/ghcnd/daily/1949.csv.gz
96.6 M   772.6 M   /data/ghcnd/daily/1950.csv.gz
99.6 M   796.9 M   /data/ghcnd/daily/1951.csv.gz
100.9 M  807.2 M   /data/ghcnd/daily/1952.csv.gz
102.3 M  818.4 M   /data/ghcnd/daily/1953.csv.gz
104.2 M  833.6 M   /data/ghcnd/daily/1954.csv.gz
106.4 M  851.4 M   /data/ghcnd/daily/1955.csv.gz
108.5 M  867.8 M   /data/ghcnd/daily/1956.csv.gz
111.0 M  887.9 M   /data/ghcnd/daily/1957.csv.gz
112.1 M  896.5 M   /data/ghcnd/daily/1958.csv.gz
114.3 M  914.5 M   /data/ghcnd/daily/1959.csv.gz
116.5 M  932.3 M   /data/ghcnd/daily/1960.csv.gz
120.1 M  961.0 M   /data/ghcnd/daily/1961.csv.gz
122.7 M  981.5 M   /data/ghcnd/daily/1962.csv.gz
125.5 M  1003.9 M  /data/ghcnd/daily/1963.csv.gz
126.4 M  1011.3 M  /data/ghcnd/daily/1964.csv.gz
130.5 M  1.0 G     /data/ghcnd/daily/1965.csv.gz
132.2 M  1.0 G     /data/ghcnd/daily/1966.csv.gz
133.5 M  1.0 G     /data/ghcnd/daily/1967.csv.gz
133.1 M  1.0 G     /data/ghcnd/daily/1968.csv.gz
134.8 M  1.1 G     /data/ghcnd/daily/1969.csv.gz
135.6 M  1.1 G     /data/ghcnd/daily/1970.csv.gz
130.6 M  1.0 G     /data/ghcnd/daily/1971.csv.gz
129.7 M  1.0 G     /data/ghcnd/daily/1972.csv.gz
135.9 M  1.1 G     /data/ghcnd/daily/1973.csv.gz
137.0 M  1.1 G     /data/ghcnd/daily/1974.csv.gz
136.5 M  1.1 G     /data/ghcnd/daily/1975.csv.gz
136.3 M  1.1 G     /data/ghcnd/daily/1976.csv.gz
136.1 M  1.1 G     /data/ghcnd/daily/1977.csv.gz
136.3 M  1.1 G     /data/ghcnd/daily/1978.csv.gz
136.5 M  1.1 G     /data/ghcnd/daily/1979.csv.gz
136.9 M  1.1 G     /data/ghcnd/daily/1980.csv.gz
139.6 M  1.1 G     /data/ghcnd/daily/1981.csv.gz
141.3 M  1.1 G     /data/ghcnd/daily/1982.csv.gz
142.6 M  1.1 G     /data/ghcnd/daily/1983.csv.gz
141.2 M  1.1 G     /data/ghcnd/daily/1984.csv.gz
139.7 M  1.1 G     /data/ghcnd/daily/1985.csv.gz
138.9 M  1.1 G     /data/ghcnd/daily/1986.csv.gz
138.9 M  1.1 G     /data/ghcnd/daily/1987.csv.gz
139.6 M  1.1 G     /data/ghcnd/daily/1988.csv.gz
140.1 M  1.1 G     /data/ghcnd/daily/1989.csv.gz
140.2 M  1.1 G     /data/ghcnd/daily/1990.csv.gz
140.8 M  1.1 G     /data/ghcnd/daily/1991.csv.gz
141.0 M  1.1 G     /data/ghcnd/daily/1992.csv.gz
139.9 M  1.1 G     /data/ghcnd/daily/1993.csv.gz
138.9 M  1.1 G     /data/ghcnd/daily/1994.csv.gz
138.6 M  1.1 G     /data/ghcnd/daily/1995.csv.gz
138.9 M  1.1 G     /data/ghcnd/daily/1996.csv.gz
137.8 M  1.1 G     /data/ghcnd/daily/1997.csv.gz
140.9 M  1.1 G     /data/ghcnd/daily/1998.csv.gz
143.5 M  1.1 G     /data/ghcnd/daily/1999.csv.gz
145.3 M  1.1 G     /data/ghcnd/daily/2000.csv.gz
147.7 M  1.2 G     /data/ghcnd/daily/2001.csv.gz
149.1 M  1.2 G     /data/ghcnd/daily/2002.csv.gz
152.5 M  1.2 G     /data/ghcnd/daily/2003.csv.gz
154.7 M  1.2 G     /data/ghcnd/daily/2004.csv.gz
151.7 M  1.2 G     /data/ghcnd/daily/2005.csv.gz
157.6 M  1.2 G     /data/ghcnd/daily/2006.csv.gz
160.3 M  1.3 G     /data/ghcnd/daily/2007.csv.gz
167.2 M  1.3 G     /data/ghcnd/daily/2008.csv.gz
170.0 M  1.3 G     /data/ghcnd/daily/2009.csv.gz
171.5 M  1.3 G     /data/ghcnd/daily/2010.csv.gz
162.7 M  1.3 G     /data/ghcnd/daily/2011.csv.gz
160.4 M  1.3 G     /data/ghcnd/daily/2012.csv.gz
155.9 M  1.2 G     /data/ghcnd/daily/2013.csv.gz
154.5 M  1.2 G     /data/ghcnd/daily/2014.csv.gz
156.9 M  1.2 G     /data/ghcnd/daily/2015.csv.gz
158.2 M  1.2 G     /data/ghcnd/daily/2016.csv.gz
157.8 M  1.2 G     /data/ghcnd/daily/2017.csv.gz
157.9 M  1.2 G     /data/ghcnd/daily/2018.csv.gz
156.7 M  1.2 G     /data/ghcnd/daily/2019.csv.gz
157.5 M  1.2 G     /data/ghcnd/daily/2020.csv.gz
155.8 M  1.2 G     /data/ghcnd/daily/2021.csv.gz
160.8 M  1.3 G     /data/ghcnd/daily/2022.csv.gz
158.7 M  1.2 G     /data/ghcnd/daily/2023.csv.gz
26.2 M   209.8 M   /data/ghcnd/daily/2024.csv.gz

In [6]:
#Q1 - 3
#Total Size of the data
!hdfs dfs -du -h /data/ghcnd/

12.4 G  98.9 G   /data/ghcnd/daily
3.6 K   28.6 K   /data/ghcnd/ghcnd-countries.txt
32.8 M  262.3 M  /data/ghcnd/ghcnd-inventory.txt
1.1 K   8.5 K    /data/ghcnd/ghcnd-states.txt
10.3 M  82.7 M   /data/ghcnd/ghcnd-stations.txt

<h3>Q2<h3>
<h3>Open a notebook on the master node using start pyspark notebook and run start spark
with 2 executors, 1 core per executor, 1 GB of executor memory, and 1 GB of master memory.
You will now explore each data source briefly to ensure that the descriptions are accurate and
that the data is as expected.<h3>

<h3>(a) Define a schema for daily based on the description in this assignment or in the GHCN
Daily README. This schema should use the data types defined in pyspark.sql.<h3>

<h3>(b) Load 1000 rows of the hdfs:///data/ghcnd/daily/2023.csv.gz file into Spark by using
the limit command immediately after the read command.
What data types did you end up using for the schema and why?<h3>

In [7]:
#Q2

# Write your imports and code here or insert cells below

from pyspark.sql import functions as F
from pyspark.sql.types import *

In [8]:
# Daily

schema_daily = StructType([
    StructField("ID", StringType(), True),
    StructField("DATE", StringType(), True),
    StructField("ELEMENT", StringType(), True),
    StructField("VALUE", FloatType(), True),
    StructField("M_FLAG", StringType(), True),
    StructField("Q_FLAG", StringType(), True),
    StructField("S_FLAG", StringType(), True),
    StructField("OBS_TIME", StringType(), True),
])
daily_data = (
    spark.read.format("com.databricks.spark.csv")
    .option("header", "false")
    .option("inferSchema", "false")
    .schema(schema_daily)
    .load("hdfs:///data/ghcnd/daily/2023.csv.gz")
    .limit(1000)
)
daily_data.show(100)

+-----------+--------+-------+-----+------+------+------+--------+
|         ID|    DATE|ELEMENT|VALUE|M_FLAG|Q_FLAG|S_FLAG|OBS_TIME|
+-----------+--------+-------+-----+------+------+------+--------+
|AE000041196|20230101|   TMAX|252.0|  null|  null|     S|    null|
|AE000041196|20230101|   TMIN|149.0|  null|  null|     S|    null|
|AE000041196|20230101|   PRCP|  0.0|     D|  null|     S|    null|
|AE000041196|20230101|   TAVG|207.0|     H|  null|     S|    null|
|AEM00041194|20230101|   TMAX|255.0|  null|  null|     S|    null|
|AEM00041194|20230101|   TMIN|186.0|  null|  null|     S|    null|
|AEM00041194|20230101|   PRCP|  0.0|  null|  null|     S|    null|
|AEM00041194|20230101|   TAVG|223.0|     H|  null|     S|    null|
|AEM00041217|20230101|   TMAX|248.0|  null|  null|     S|    null|
|AEM00041217|20230101|   TMIN|184.0|  null|  null|     S|    null|
|AEM00041217|20230101|   TAVG|215.0|     H|  null|     S|    null|
|AEM00041218|20230101|   TMAX|254.0|  null|  null|     S|    null|
|AEM00041218|20230101|   TMIN|145.0|  null|  null|     S|    null|
|AEM00041218|20230101|   TAVG|193.0|     H|  null|     S|    null|
|AG000060390|20230101|   TMIN| 47.0|  null|  null|     S|    null|
|AG000060390|20230101|   TAVG|128.0|     H|  null|     S|    null|
|AG000060590|20230101|   TAVG|134.0|     H|  null|     S|    null|
|AG000060611|20230101|   TMIN| 24.0|  null|  null|     S|    null|
|AG000060611|20230101|   TAVG|104.0|     H|  null|     S|    null|
|AGE00147708|20230101|   TMIN| 96.0|  null|  null|     S|    null|
|AGE00147708|20230101|   PRCP|  0.0|  null|  null|     S|    null|
|AGE00147708|20230101|   TAVG|155.0|     H|  null|     S|    null|
|AGE00147716|20230101|   TMAX|193.0|  null|  null|     S|    null|
|AGE00147716|20230101|   TMIN| 76.0|  null|  null|     S|    null|
|AGE00147716|20230101|   PRCP|  0.0|  null|  null|     S|    null|
|AGE00147716|20230101|   TAVG|138.0|     H|  null|     S|    null|
|AGE00147718|20230101|   TMIN| 60.0|  null|  null|     S|    null|
|AGE00147718|20230101|   TAVG|119.0|     H|  null|     S|    null|
|AGE00147719|20230101|   TMIN|  1.0|  null|  null|     S|    null|
|AGE00147719|20230101|   PRCP|  0.0|  null|  null|     S|    null|
|AGE00147719|20230101|   TAVG| 74.0|     H|  null|     S|    null|
|AGM00060351|20230101|   TMAX|201.0|  null|  null|     S|    null|
|AGM00060351|20230101|   TMIN| 82.0|  null|  null|     S|    null|
|AGM00060351|20230101|   PRCP|  0.0|  null|  null|     S|    null|
|AGM00060351|20230101|   TAVG|137.0|     H|  null|     S|    null|
|AGM00060355|20230101|   TMAX|234.0|  null|  null|     S|    null|
|AGM00060355|20230101|   TMIN|126.0|  null|  null|     S|    null|
|AGM00060355|20230101|   PRCP|  0.0|  null|  null|     S|    null|
|AGM00060355|20230101|   TAVG|178.0|     H|  null|     S|    null|
|AGM00060360|20230101|   TMIN| 75.0|  null|  null|     S|    null|
|AGM00060360|20230101|   PRCP|  0.0|  null|  null|     S|    null|
|AGM00060360|20230101|   TAVG|132.0|     H|  null|     S|    null|
|AGM00060402|20230101|   TMIN| 98.0|  null|  null|     S|    null|
|AGM00060402|20230101|   PRCP|  0.0|  null|  null|     S|    null|
|AGM00060402|20230101|   TAVG|149.0|     H|  null|     S|    null|
|AGM00060403|20230101|   TMAX|241.0|  null|  null|     S|    null|
|AGM00060403|20230101|   TMIN| 37.0|  null|  null|     S|    null|
|AGM00060403|20230101|   PRCP|  0.0|  null|  null|     S|    null|
|AGM00060403|20230101|   TAVG|137.0|     H|  null|     S|    null|
|AGM00060419|20230101|   TMIN| 14.0|  null|  null|     S|    null|
|AGM00060419|20230101|   TAVG| 91.0|     H|  null|     S|    null|
|AGM00060421|20230101|   TMIN|  2.0|  null|  null|     S|    null|
|AGM00060421|20230101|   PRCP|  0.0|  null|  null|     S|    null|
|AGM00060421|20230101|   TAVG|110.0|     H|  null|     S|    null|
|AGM00060423|20230101|   TMIN| 66.0|  null|  null|     S|    null|
|AGM00060423|20230101|   TAVG|136.0|     H|  null|     S|    null|
|AGM00060425|20230101|   TMAX|222.0|  null|  null|     S|    null|
|AGM00060425|20230101|   PRCP|  0.0|  null|  null|     S|    null|
|AGM00060425|20230101|   TAVG|158.0|     H|  null|     S|    null|
|AGM00060430|20230101|   TMIN|101.0|  null|  null|     S|    null|
|AGM00060430|20230101|   PRCP|  0.0|  null|  null|     S|    null|
|AGM00060430|20230101|   TAVG|148.0|     H|  null|     S|    null|
|AGM00060437|20230101|   TMIN| 87.0|  null|  null|     S|    null|
|AGM00060437|20230101|   PRCP|  0.0|  null|  null|     S|    null|
|AGM00060437|20230101|   TAVG|129.0|     H|  null|     S|    null|
|AGM00060444|20230101|   TMIN| 49.0|  null|  null|     S|    null|
|AGM00060444|20230101|   PRCP|  0.0|  null|  null|     S|    null|
|AGM00060444|20230101|   TAVG|110.0|     H|  null|     S|    null|
|AGM00060445|20230101|   TMIN| 20.0|  null|  null|     S|    null|
|AGM00060445|20230101|   PRCP|  0.0|  null|  null|     S|    null|
|AGM00060445|20230101|   TAVG| 71.0|     H|  null|     S|    null|
|AGM00060452|20230101|   TMIN|104.0|  null|  null|     S|    null|
|AGM00060452|20230101|   PRCP|  0.0|  null|  null|     S|    null|
|AGM00060452|20230101|   TAVG|158.0|     H|  null|     S|    null|
|AGM00060457|20230101|   TMIN| 51.0|  null|  null|     S|    null|
|AGM00060457|20230101|   PRCP|  0.0|  null|  null|     S|    null|
|AGM00060457|20230101|   TAVG|152.0|     H|  null|     S|    null|
|AGM00060461|20230101|   TMAX|186.0|  null|  null|     S|    null|
|AGM00060461|20230101|   PRCP|  0.0|  null|  null|     S|    null|
|AGM00060461|20230101|   TAVG|155.0|     H|  null|     S|    null|
|AGM00060467|20230101|   TMAX|167.0|  null|  null|     S|    null|
|AGM00060467|20230101|   TMIN| 19.0|  null|  null|     S|    null|
|AGM00060467|20230101|   PRCP|  0.0|  null|  null|     S|    null|
|AGM00060467|20230101|   TAVG|103.0|     H|  null|     S|    null|
|AGM00060468|20230101|   TMAX|182.0|  null|  null|     S|    null|
|AGM00060468|20230101|   PRCP|  0.0|  null|  null|     S|    null|
|AGM00060468|20230101|   TAVG| 68.0|     H|  null|     S|    null|
|AGM00060475|20230101|   PRCP|  0.0|  null|  null|     S|    null|
|AGM00060475|20230101|   TAVG| 84.0|     H|  null|     S|    null|
|AGM00060490|20230101|   TMIN| 36.0|  null|  null|     S|    null|
|AGM00060490|20230101|   PRCP|  0.0|  null|  null|     S|    null|
|AGM00060490|20230101|   TAVG|115.0|     H|  null|     S|    null|
|AGM00060507|20230101|   TMAX|214.0|  null|  null|     S|    null|
|AGM00060507|20230101|   TMIN| 70.0|  null|  null|     S|    null|
|AGM00060507|20230101|   PRCP|  0.0|  null|  null|     S|    null|
|AGM00060507|20230101|   TAVG|143.0|     H|  null|     S|    null|
|AGM00060511|20230101|   TMAX|170.0|  null|  null|     S|    null|
|AGM00060511|20230101|   PRCP|  0.0|  null|  null|     S|    null|
|AGM00060511|20230101|   TAVG| 67.0|     H|  null|     S|    null|
|AGM00060514|20230101|   TMIN| -1.0|  null|  null|     S|    null|
+-----------+--------+-------+-----+------+------+------+--------+
only showing top 100 rows

In [9]:
show_as_html(daily_data, 100)

             ID      DATE ELEMENT  VALUE M_FLAG Q_FLAG S_FLAG OBS_TIME
0   AE000041196  20230101    TMAX  252.0   None   None      S     None
1   AE000041196  20230101    TMIN  149.0   None   None      S     None
2   AE000041196  20230101    PRCP    0.0      D   None      S     None
3   AE000041196  20230101    TAVG  207.0      H   None      S     None
4   AEM00041194  20230101    TMAX  255.0   None   None      S     None
5   AEM00041194  20230101    TMIN  186.0   None   None      S     None
6   AEM00041194  20230101    PRCP    0.0   None   None      S     None
7   AEM00041194  20230101    TAVG  223.0      H   None      S     None
8   AEM00041217  20230101    TMAX  248.0   None   None      S     None
9   AEM00041217  20230101    TMIN  184.0   None   None      S     None
10  AEM00041217  20230101    TAVG  215.0      H   None      S     None
11  AEM00041218  20230101    TMAX  254.0   None   None      S     None
12  AEM00041218  20230101    TMIN  145.0   None   None      S     None
13  AEM00041218  20230101    TAVG  193.0      H   None      S     None
14  AG000060390  20230101    TMIN   47.0   None   None      S     None
15  AG000060390  20230101    TAVG  128.0      H   None      S     None
16  AG000060590  20230101    TAVG  134.0      H   None      S     None
17  AG000060611  20230101    TMIN   24.0   None   None      S     None
18  AG000060611  20230101    TAVG  104.0      H   None      S     None
19  AGE00147708  20230101    TMIN   96.0   None   None      S     None
20  AGE00147708  20230101    PRCP    0.0   None   None      S     None
21  AGE00147708  20230101    TAVG  155.0      H   None      S     None
22  AGE00147716  20230101    TMAX  193.0   None   None      S     None
23  AGE00147716  20230101    TMIN   76.0   None   None      S     None
24  AGE00147716  20230101    PRCP    0.0   None   None      S     None
25  AGE00147716  20230101    TAVG  138.0      H   None      S     None
26  AGE00147718  20230101    TMIN   60.0   None   None      S     None
27  AGE00147718  20230101    TAVG  119.0      H   None      S     None
28  AGE00147719  20230101    TMIN    1.0   None   None      S     None
29  AGE00147719  20230101    PRCP    0.0   None   None      S     None
..          ...       ...     ...    ...    ...    ...    ...      ...
70  AGM00060445  20230101    TAVG   71.0      H   None      S     None
71  AGM00060452  20230101    TMIN  104.0   None   None      S     None
72  AGM00060452  20230101    PRCP    0.0   None   None      S     None
73  AGM00060452  20230101    TAVG  158.0      H   None      S     None
74  AGM00060457  20230101    TMIN   51.0   None   None      S     None
75  AGM00060457  20230101    PRCP    0.0   None   None      S     None
76  AGM00060457  20230101    TAVG  152.0      H   None      S     None
77  AGM00060461  20230101    TMAX  186.0   None   None      S     None
78  AGM00060461  20230101    PRCP    0.0   None   None      S     None
79  AGM00060461  20230101    TAVG  155.0      H   None      S     None
80  AGM00060467  20230101    TMAX  167.0   None   None      S     None
81  AGM00060467  20230101    TMIN   19.0   None   None      S     None
82  AGM00060467  20230101    PRCP    0.0   None   None      S     None
83  AGM00060467  20230101    TAVG  103.0      H   None      S     None
84  AGM00060468  20230101    TMAX  182.0   None   None      S     None
85  AGM00060468  20230101    PRCP    0.0   None   None      S     None
86  AGM00060468  20230101    TAVG   68.0      H   None      S     None
87  AGM00060475  20230101    PRCP    0.0   None   None      S     None
88  AGM00060475  20230101    TAVG   84.0      H   None      S     None
89  AGM00060490  20230101    TMIN   36.0   None   None      S     None
90  AGM00060490  20230101    PRCP    0.0   None   None      S     None
91  AGM00060490  20230101    TAVG  115.0      H   None      S     None
92  AGM00060507  20230101    TMAX  214.0   None   None      S     None
93  AGM00060507  20230101    TMIN   70.0   None   None      S     None
94  AGM00060507  20230101    PRCP    0.0   None   None      S     None
95  AGM00060507  20230101    TAVG  143.0      H   None      S     None
96  AGM00060511  20230101    TMAX  170.0   None   None      S     None
97  AGM00060511  20230101    PRCP    0.0   None   None      S     None
98  AGM00060511  20230101    TAVG   67.0      H   None      S     None
99  AGM00060514  20230101    TMIN   -1.0   None   None      S     None

[100 rows x 8 columns]

<h3>(c) Load each of stations, states, countries, and inventory into Spark as well. You
will need to find a way to parse the fixed width text formatting, as this format is not included
in the standard spark.read library. You could try using spark.read.text and
pyspark.sql.functions.substring or finding an existing open source library.
How many rows are in each metadata table? How many stations do not have a WMO ID?<h3>

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import substring

In [4]:
#Stations_Data

stations_df = spark.read.text("hdfs:///data/ghcnd/ghcnd-stations.txt")

In [5]:
stations_df.show()

+--------------------+
|               value|
+--------------------+
|ACW00011604  17.1...|
|ACW00011647  17.1...|
|AE000041196  25.3...|
|AEM00041194  25.2...|
|AEM00041217  24.4...|
|AEM00041218  24.2...|
|AF000040930  35.3...|
|AFM00040938  34.2...|
|AFM00040948  34.5...|
|AFM00040990  31.5...|
|AG000060390  36.7...|
|AG000060590  30.5...|
|AG000060611  28.0...|
|AG000060680  22.8...|
|AGE00135039  35.7...|
|AGE00147704  36.9...|
|AGE00147705  36.7...|
|AGE00147706  36.8...|
|AGE00147707  36.8...|
|AGE00147708  36.7...|
+--------------------+
only showing top 20 rows

In [6]:
stations_parsed_df = stations_df.select(
    substring("value", 1, 11).alias("ID"),
    substring("value", 13, 8).alias("LATITUDE"),
    substring("value", 22, 9).alias("LONGITUDE"),
    substring("value", 32, 6).alias("ELEVATION"),
    substring("value", 39, 2).alias("STATE"),
    substring("value", 42, 29).alias("NAME"),
    substring("value", 73, 3).alias("GSN_FLAG"),
    substring("value", 77, 3).alias("HCN_CRN_FLAG"),
    substring("value", 81, 5).alias("WMO_ID")
)

In [8]:
stations_parsed_df.show(100)

+-----------+--------+---------+---------+-----+--------------------+--------+------------+------+
|         ID|LATITUDE|LONGITUDE|ELEVATION|STATE|                NAME|GSN_FLAG|HCN_CRN_FLAG|WMO_ID|
+-----------+--------+---------+---------+-----+--------------------+--------+------------+------+
|ACW00011604| 17.1167| -61.7833|     10.1|     |ST JOHNS COOLIDGE...|        |            |      |
|ACW00011647| 17.1333| -61.7833|     19.2|     |ST JOHNS         ...|        |            |      |
|AE000041196| 25.3330|  55.5170|     34.0|     |SHARJAH INTER. AI...|     GSN|            | 41196|
|AEM00041194| 25.2550|  55.3640|     10.4|     |DUBAI INTL       ...|        |            | 41194|
|AEM00041217| 24.4330|  54.6510|     26.8|     |ABU DHABI INTL   ...|        |            | 41217|
|AEM00041218| 24.2620|  55.6090|    264.9|     |AL AIN INTL      ...|        |            | 41218|
|AF000040930| 35.3170|  69.0170|   3366.0|     |NORTH-SALANG     ...|     GSN|            | 40930|
|AFM00040938| 34.2100|  62.2280|    977.2|     |HERAT            ...|        |            | 40938|
|AFM00040948| 34.5660|  69.2120|   1791.3|     |KABUL INTL       ...|        |            | 40948|
|AFM00040990| 31.5000|  65.8500|   1010.0|     |KANDAHAR AIRPORT ...|        |            | 40990|
|AG000060390| 36.7167|   3.2500|     24.0|     |ALGER-DAR EL BEID...|     GSN|            | 60390|
|AG000060590| 30.5667|   2.8667|    397.0|     |EL-GOLEA         ...|     GSN|            | 60590|
|AG000060611| 28.0500|   9.6331|    561.0|     |IN-AMENAS        ...|     GSN|            | 60611|
|AG000060680| 22.8000|   5.4331|   1362.0|     |TAMANRASSET      ...|     GSN|            | 60680|
|AGE00135039| 35.7297|   0.6500|     50.0|     |ORAN-HOPITAL MILI...|        |            |      |
|AGE00147704| 36.9700|   7.7900|    161.0|     |ANNABA-CAP DE GAR...|        |            |      |
|AGE00147705| 36.7800|   3.0700|     59.0|     |ALGIERS-VILLE/UNI...|        |            |      |
|AGE00147706| 36.8000|   3.0300|    344.0|     |ALGIERS-BOUZAREAH...|        |            |      |
|AGE00147707| 36.8000|   3.0400|     38.0|     |ALGIERS-CAP CAXIN...|        |            |      |
|AGE00147708| 36.7200|   4.0500|    222.0|     |TIZI OUZOU       ...|        |            | 60395|
|AGE00147709| 36.6300|   4.2000|    942.0|     |FORT NATIONAL    ...|        |            |      |
|AGE00147710| 36.7500|   5.1000|      9.0|     |BEJAIA-BOUGIE (PO...|        |            | 60401|
|AGE00147711| 36.3697|   6.6200|    660.0|     |CONSTANTINE      ...|        |            |      |
|AGE00147712| 36.1700|   1.3400|    112.0|     |ORLEANSVILLE (CHL...|        |            |      |
|AGE00147713| 36.1800|   5.4000|   1081.0|     |SETIF            ...|        |            |      |
|AGE00147714| 35.7700|   0.8000|     78.0|     |ORAN-CAP FALCON  ...|        |            |      |
|AGE00147715| 35.4200|   8.1197|    863.0|     |TEBESSA          ...|        |            |      |
|AGE00147716| 35.1000|  -1.8500|     83.0|     |NEMOURS (GHAZAOUE...|        |            | 60517|
|AGE00147717| 35.2000|   0.6300|    476.0|     |SIDI-BEL-ABBES   ...|        |            |      |
|AGE00147718| 34.8500|   5.7200|    125.0|     |BISKRA           ...|        |            | 60525|
|AGE00147719| 33.7997|   2.8900|    767.0|     |LAGHOUAT         ...|        |            | 60545|
|AGE00147720| 33.6800|   1.0000|   1320.0|     |GERYVILLE (EL-BAY...|        |            |      |
|AGE00147780| 37.0800|   6.4700|    195.0|     |SKIKDA-CAP BOUGAR...|        |            |      |
|AGE00147794| 36.7800|   5.1000|    225.0|     |BEJAIA-CAP CARBON...|        |            |      |
|AGM00060351| 36.7950|   5.8740|     11.0|     |JIJEL            ...|        |            | 60351|
|AGM00060353| 36.8170|   5.8830|      6.0|     |JIJEL-PORT       ...|        |            | 60353|
|AGM00060355| 36.9330|   6.9500|      7.0|     |SKIKDA           ...|        |            | 60355|
|AGM00060360| 36.8220|   7.8090|      4.9|     |ANNABA           ...|        |            | 60360|
|AGM00060367| 36.9000|   8.4500|     13.0|     |EL-KALA          ...|        |            | 60367|
|AGM00060369| 36.7670|   3.1000|     12.0|     |ALGER-PORT       ...|        |            | 60369|
|AGM00060387| 36.9170|   3.9500|      8.0|     |DELLYS           ...|        |            | 60387|
|AGM00060402| 36.7120|   5.0700|      6.1|     |SOUMMAM          ...|        |            | 60402|
|AGM00060403| 36.4670|   7.4670|    228.0|     |GUELMA           ...|        |            | 60403|
|AGM00060405| 36.5000|   7.7170|    111.0|     |BOUCHEGOUF       ...|        |            | 60405|
|AGM00060410| 36.5000|   1.3330|     18.0|     |TENES            ...|        |            | 60410|
|AGM00060415| 36.3170|   3.5330|    748.0|     |AIN-BESSAM       ...|        |            | 60415|
|AGM00060417| 36.3830|   3.8830|    560.0|     |BOUIRA           ...|        |            | 60417|
|AGM00060419| 36.2760|   6.6200|    690.4|     |MOHAMED BOUDIAF I...|        |            | 60419|
|AGM00060421| 35.8670|   7.1170|    891.0|     |OUM EL BOUAGHI   ...|        |            | 60421|
|AGM00060423| 36.2830|   7.9670|    680.0|     |SOUK AHRAS       ...|        |            | 60423|
|AGM00060425| 36.2130|   1.3320|    141.1|     |ECH CHELIFF      ...|        |            | 60425|
|AGM00060430| 36.3000|   2.2330|    721.0|     |MILIANA          ...|        |            | 60430|
|AGM00060437| 36.2830|   2.7330|   1036.0|     |MEDEA            ...|        |            | 60437|
|AGM00060444| 36.0670|   4.7670|    930.0|     |BORDJ-BOU-ARRERID...|        |            | 60444|
|AGM00060445| 36.1780|   5.3240|   1050.0|     |SETIF AIN ARNAT  ...|        |            | 60445|
|AGM00060452| 35.8170|  -0.2670|      4.0|     |ARZEW            ...|        |            | 60452|
|AGM00060457| 35.8830|   0.1170|    138.0|     |MOSTAGANEM       ...|        |            | 60457|
|AGM00060461| 35.7000|  -0.6500|     22.0|     |ORAN-PORT        ...|        |            | 60461|
|AGM00060467| 35.6670|   4.5000|    442.0|     |M'SILA           ...|        |            | 60467|
|AGM00060468| 35.5500|   6.1830|   1052.0|     |BATNA            ...|        |            | 60468|
|AGM00060471| 35.3330|   5.3330|    461.0|     |BARIKA           ...|        |            | 60471|
|AGM00060475| 35.4320|   8.1210|    811.1|     |CHEIKH LARBI TEBE...|        |            | 60475|
|AGM00060476| 35.4670|   7.0830|    987.0|     |KHENCHELLA       ...|        |            | 60476|
|AGM00060490| 35.6240|  -0.6210|     89.9|     |ES SENIA         ...|        |            | 60490|
|AGM00060506| 35.6000|   0.3000|    476.0|     |MASCARA-MATEMORE ...|        |            | 60506|
|AGM00060507| 35.2080|   0.1470|    513.9|     |GHRISS           ...|        |            | 60507|
|AGM00060511| 35.3410|   1.4630|    989.1|     |BOU CHEKIF       ...|        |            | 60511|
|AGM00060514| 35.1670|   2.3170|    801.0|     |KSAR CHELLALA    ...|        |            | 60514|
|AGM00060515| 35.3330|   4.2060|    459.0|     |BOU SAADA        ...|        |            | 60515|
|AGM00060518| 35.3000|  -1.3500|     70.0|     |BENI-SAF         ...|        |            | 60518|
|AGM00060520| 35.2000|  -0.6170|    476.0|     |SIDI-BEL-ABBES   ...|        |            | 60520|
|AGM00060522| 34.8200|  -1.7700|    426.0|     |MAGHNIA          ...|        |            | 60522|
|AGM00060531| 35.0170|  -1.4500|    248.1|     |ZENATA           ...|        |            | 60531|
|AGM00060535| 34.6830|   3.2500|   1144.0|     |DJELFA/TLETSI    ...|        |            | 60535|
|AGM00060536| 34.8670|   0.1500|    752.0|     |SAIDA            ...|        |            | 60536|
|AGM00060540| 34.1500|   0.0670|   1001.0|     |EL-KHEITER       ...|        |            | 60540|
|AGM00060549| 33.5360|  -0.2420|   1175.0|     |MECHERIA         ...|        |            | 60549|
|AGM00060550| 33.6670|   1.0000|   1347.0|     |EL-BAYADH        ...|        |            | 60550|
|AGM00060555| 33.0680|   6.0890|     85.0|     |SIDI MAHDI       ...|        |            | 60555|
|AGM00060557| 33.2670|  -0.3000|   1166.0|     |NAAMA            ...|        |            | 60557|
|AGM00060559| 33.5110|   6.7770|     61.9|     |GUEMAR           ...|        |            | 60559|
|AGM00060560| 32.7670|  -0.6000|   1059.0|     |AIN-SEFRA        ...|        |            | 60560|
|AGM00060563| 32.9330|   3.2830|    764.0|     |HASSIR'MEL       ...|        |            | 60563|
|AGM00060566| 32.3840|   3.7940|    460.9|     |NOUMERAT         ...|        |            | 60566|
|AGM00060571| 31.6460|  -2.2700|    811.1|     |BECHAR           ...|        |            | 60571|
|AGM00060580| 31.9170|   5.4130|    150.0|     |OUARGLA          ...|        |            | 60580|
|AGM00060581| 31.6730|   6.1400|    141.1|     |OUED IRARA       ...|        |            | 60581|
|AGM00060602| 30.1330|  -2.1670|    505.0|     |BENI-ABBES       ...|        |            | 60602|
|AGM00060603| 29.7170|   6.7000|    252.0|     |RHOURD NOUSS     ...|        |            | 60603|
|AGM00060607| 29.2370|   0.2760|    313.0|     |TIMIMOUN         ...|        |            | 60607|
|AGM00060620| 27.838 |         |         |     |                 ...|        |            |      |
|AGM00060690| 19.5670|   5.7670|    401.0|     |IN-GUEZZAM       ...|        |            | 60690|
|AJ000037575| 41.5500|  46.6670|    490.0|     |ZAKATALA         ...|        |            | 37575|
|AJ000037579| 41.7000|  46.8000|   1746.0|     |ALIBEK           ...|        |            | 37579|
|AJ000037605| 41.3000|  45.6000|    440.0|     |BOGDANOVKA       ...|        |            | 37605|
|AJ000037636| 41.3000|  45.5000|    404.0|     |DJEYRANCELSKAJ-ST...|        |            | 37636|
|AJ000037639| 41.1330|  45.4170|    333.0|     |AGSTAPHA AIRPORT ...|        |            | 37639|
|AJ000037656| 41.2000|  46.8000|    403.0|     |ADJINAURSKAYA_STE...|        |            | 37656|
|AJ000037661| 41.2170|  47.1670|    641.0|     |SHAKI            ...|        |            | 37661|
|AJ000037668| 41.1000|  47.5000|    583.0|     |VARTASHEN        ...|        |            | 37668|
+-----------+--------+---------+---------+-----+--------------------+--------+------------+------+
only showing top 100 rows

In [15]:
show_as_html(stations_parsed_df,10)

,ID,LATITUDE,LONGITUDE,ELEVATION,STATE,NAME,GSN_FLAG,HCN_CRN_FLAG,WMO_ID
0,ACW00011604,17.1167,-61.7833,10.1,,ST JOHNS COOLIDGE FLD,,,
1,ACW00011647,17.1333,-61.7833,19.2,,ST JOHNS,,,
2,AE000041196,25.3330,55.5170,34.0,,SHARJAH INTER. AIRP,GSN,,41196
3,AEM00041194,25.2550,55.3640,10.4,,DUBAI INTL,,,41194
4,AEM00041217,24.4330,54.6510,26.8,,ABU DHABI INTL,,,41217
5,AEM00041218,24.2620,55.6090,264.9,,AL AIN INTL,,,41218
6,AF000040930,35.3170,69.0170,3366.0,,NORTH-SALANG,GSN,,40930
7,AFM00040938,34.2100,62.2280,977.2,,HERAT,,,40938
8,AFM00040948,34.5660,69.2120,1791.3,,KABUL INTL,,,40948
9,AFM00040990,31.5000,65.8500,1010.0,,KANDAHAR AIRPORT,,,40990

In [9]:
from pyspark.sql.functions import col, isnull, trim

# Count rows in the DataFrame
stations_count = stations_parsed_df.count()

# Count stations with a blank or null WMO_ID
stations_no_wmo_id_count = stations_parsed_df.filter(
    (trim(col("WMO_ID")) == "") | isnull(col("WMO_ID"))
).count()

print(f"Number of stations: {stations_count}")
print(f"Stations without WMO ID: {stations_no_wmo_id_count}")

Number of stations: 125983
Stations without WMO ID: 118023

In [72]:
#States Data
states_df = spark.read.text("hdfs:///data/ghcnd/ghcnd-states.txt")
states_parsed_df = states_df.select(
    substring('value', 1, 2).alias('State_Code'),
    substring('value', 4, 50).alias('State_Name')
)
show_as_html(states_parsed_df,10)
states_count = states_parsed_df.count()
print(f"Number of states: {states_count}")

  State_Code                                       State_Name
0         AB                                          ALBERTA
1         AK                                           ALASKA
2         AL  ALABAMA
3         AR                                         ARKANSAS
4         AS                                   AMERICAN SAMOA
5         AZ                                          ARIZONA
6         BC                                 BRITISH COLUMBIA
7         CA                                       CALIFORNIA
8         CO                                         COLORADO
9         CT                                      CONNECTICUT

Number of states: 74

In [73]:
output_path_states = "hdfs:///user/uwi14/outputs/ghcnd/states_df.csv"
states_parsed_df.write.mode("overwrite").option("header", "true").option("compression", "gzip").csv(output_path_states)

In [79]:
#Country Data
countries_df = spark.read.text("hdfs:///data/ghcnd/ghcnd-countries.txt")
countries_parsed_df =countries_df.select(
    substring('value', 1, 2).alias('Country_Code'),
    substring('value', 4, 50).alias('Country_Name')
)
show_as_html(countries_parsed_df,10)
countries_count = countries_parsed_df.count()
print(f"Number of countries: {countries_count}")

  Country_Code                     Country_Name
0           AC             Antigua and Barbuda
1           AE            United Arab Emirates
2           AF                      Afghanistan
3           AG                         Algeria
4           AJ                      Azerbaijan
5           AL                          Albania
6           AM                         Armenia
7           AO                          Angola
8           AQ  American Samoa [United States]
9           AR                       Argentina

Number of countries: 219

In [80]:
output_path_countries = "hdfs:///user/uwi14/outputs/ghcnd/countries_df.csv"
countries_parsed_df.write.mode("overwrite").option("header", "true").option("compression", "gzip").csv(output_path_countries)

In [19]:
#Inventory
inventory_df = spark.read.text("hdfs:///data/ghcnd/ghcnd-inventory.txt")
inventory_parsed_df =inventory_df.select(
    substring(col("value"), 1, 11).alias('ID'),
    substring(col("value"), 13, 7).alias('LATITUDE'),
    substring(col("value"), 22, 8).alias('LONGITUDE'),
    substring('value', 32, 4).alias('ELEMENT'),
    substring('value', 37, 4).alias('FIRST YEAR'),
    substring('value', 42, 4).alias('LAST YEAR')
)
show_as_html(inventory_parsed_df,100)
inventory_count = inventory_parsed_df.count()
print(f"Number of inventories: {inventory_count}")

             ID LATITUDE LONGITUDE ELEMENT FIRST YEAR LAST YEAR
0   ACW00011604   17.116   -61.783    TMAX       1949      1949
1   ACW00011604   17.116   -61.783    TMIN       1949      1949
2   ACW00011604   17.116   -61.783    PRCP       1949      1949
3   ACW00011604   17.116   -61.783    SNOW       1949      1949
4   ACW00011604   17.116   -61.783    SNWD       1949      1949
5   ACW00011604   17.116   -61.783    PGTM       1949      1949
6   ACW00011604   17.116   -61.783    WDFG       1949      1949
7   ACW00011604   17.116   -61.783    WSFG       1949      1949
8   ACW00011604   17.116   -61.783    WT03       1949      1949
9   ACW00011604   17.116   -61.783    WT08       1949      1949
10  ACW00011604   17.116   -61.783    WT16       1949      1949
11  ACW00011647   17.133   -61.783    TMAX       1961      1961
12  ACW00011647   17.133   -61.783    TMIN       1961      1961
13  ACW00011647   17.133   -61.783    PRCP       1957      1970
14  ACW00011647   17.133   -61.783    SNOW       1957      1970
15  ACW00011647   17.133   -61.783    SNWD       1957      1970
16  ACW00011647   17.133   -61.783    WT03       1961      1961
17  ACW00011647   17.133   -61.783    WT16       1961      1966
18  AE000041196   25.333    55.517    TMAX       1944      2024
19  AE000041196   25.333    55.517    TMIN       1944      2024
20  AE000041196   25.333    55.517    PRCP       1944      2024
21  AE000041196   25.333    55.517    TAVG       1944      2024
22  AEM00041194   25.255    55.364    TMAX       1983      2024
23  AEM00041194   25.255    55.364    TMIN       1983      2024
24  AEM00041194   25.255    55.364    PRCP       1983      2024
25  AEM00041194   25.255    55.364    TAVG       1983      2024
26  AEM00041217   24.433    54.651    TMAX       1983      2024
27  AEM00041217   24.433    54.651    TMIN       1983      2024
28  AEM00041217   24.433    54.651    PRCP       1984      2024
29  AEM00041217   24.433    54.651    TAVG       1983      2024
..          ...      ...       ...     ...        ...       ...
70  AG000060680   22.800     5.433    PRCP       1940      2004
71  AG000060680   22.800     5.433    TAVG       1957      2004
72  AGE00135039   35.729     0.650    TMAX       1852      1966
73  AGE00135039   35.729     0.650    TMIN       1852      1966
74  AGE00135039   35.729     0.650    PRCP       1852      1966
75  AGE00147704   36.970     7.790    TMAX       1909      1937
76  AGE00147704   36.970     7.790    TMIN       1909      1937
77  AGE00147704   36.970     7.790    PRCP       1909      1937
78  AGE00147705   36.780     3.070    TMAX       1886      1938
79  AGE00147705   36.780     3.070    TMIN       1887      1938
80  AGE00147705   36.780     3.070    PRCP       1877      1938
81  AGE00147706   36.800     3.030    TMAX       1893      1920
82  AGE00147706   36.800     3.030    TMIN       1893      1920
83  AGE00147706   36.800     3.030    PRCP       1893      1920
84  AGE00147707   36.800     3.040    TMAX       1878      1879
85  AGE00147707   36.800     3.040    TMIN       1878      1879
86  AGE00147707   36.800     3.040    PRCP       1878      1879
87  AGE00147708   36.720     4.050    TMAX       1886      2024
88  AGE00147708   36.720     4.050    TMIN       1886      2024
89  AGE00147708   36.720     4.050    PRCP       1879      2024
90  AGE00147708   36.720     4.050    SNWD       2005      2005
91  AGE00147708   36.720     4.050    TAVG       1995      2024
92  AGE00147709   36.630     4.200    TMAX       1884      1938
93  AGE00147709   36.630     4.200    TMIN       1884      1938
94  AGE00147709   36.630     4.200    PRCP       1879      1938
95  AGE00147710   36.750     5.100    TMAX       1909      2009
96  AGE00147710   36.750     5.100    TMIN       1909      2009
97  AGE00147710   36.750     5.100    PRCP       1909      2009
98  AGE00147710   36.750     5.100    TAVG       2001      2009
99  AGE00147711   36.369     6.620    TMAX       1886      1938

[100 rows x 6 columns]

Number of inventories: 747382

<h3> Q3 <h3>
<h3>Next you will combine the daily climate summaries with the metadata tables, joining on station,
state, and country. Note that joining the daily climate summaries and metadata into a single
table is not efficient for a database of this size, but joining the metadata into a single table is very
convenient for filtering and sorting based on attributes at a station level.
You will need to start saving some intermediate outputs along the way. Create an output directory
in your home directory e.g. hdfs:///user/abc123/outputs/ghcnd/. Note that we only have
400GB of distributed storage available so think carefully before you write output to HDFS.<h3>

<h4>(a) Extract the two character country code from each station code in stations and store the
output as a new column using the withColumn method.<h4>

In [21]:
!hdfs dfs -du -h /user/uwi14/outputs/ghcnd/

4.6 M  18.4 M  /user/uwi14/outputs/ghcnd/Final_stations_df.parquet
2.3 M  9.2 M   /user/uwi14/outputs/ghcnd/joined_countries_df.csv
2.3 M  9.3 M   /user/uwi14/outputs/ghcnd/joined_countries_state_df.csv

In [22]:
#Extract the two character country code from each station code in stations

stations_parsed_df = stations_parsed_df.withColumn("CODE", substring(col("ID"), 1, 2))

show_as_html(stations_parsed_df,5)

,ID,LATITUDE,LONGITUDE,ELEVATION,STATE,NAME,GSN_FLAG,HCN_CRN_FLAG,WMO_ID,CODE
0,ACW00011604,17.1167,-61.7833,10.1,,ST JOHNS COOLIDGE FLD,,,,AC
1,ACW00011647,17.1333,-61.7833,19.2,,ST JOHNS,,,,AC
2,AE000041196,25.3330,55.5170,34.0,,SHARJAH INTER. AIRP,GSN,,41196,AE
3,AEM00041194,25.2550,55.3640,10.4,,DUBAI INTL,,,41194,AE
4,AEM00041217,24.4330,54.6510,26.8,,ABU DHABI INTL,,,41217,AE

<h4>(b) LEFT JOIN stations with countries using your output from part (a).<h4>

In [31]:
# Perform the LEFT JOIN
joined_countries_df = stations_parsed_df.join(
    countries_parsed_df.withColumnRenamed("Country_Code","CODE"),
    on="CODE",
    how = "left"
)
show_as_html(joined_countries_df,5)

,CODE,ID,LATITUDE,LONGITUDE,ELEVATION,STATE,NAME,GSN_FLAG,HCN_CRN_FLAG,WMO_ID,Country_Name
0,AC,ACW00011604,17.1167,-61.7833,10.1,,ST JOHNS COOLIDGE FLD,,,,Antigua and Barbuda
1,AC,ACW00011647,17.1333,-61.7833,19.2,,ST JOHNS,,,,Antigua and Barbuda
2,AE,AE000041196,25.3330,55.5170,34.0,,SHARJAH INTER. AIRP,GSN,,41196,United Arab Emirates
3,AE,AEM00041194,25.2550,55.3640,10.4,,DUBAI INTL,,,41194,United Arab Emirates
4,AE,AEM00041217,24.4330,54.6510,26.8,,ABU DHABI INTL,,,41217,United Arab Emirates

In [32]:
output_path = "hdfs:///user/uwi14/outputs/ghcnd/joined_countries_df.csv"
joined_countries_df.write.mode("overwrite").option("header", "true").option("compression", "gzip").csv(output_path)

<h4>(c) LEFT JOIN stations and states, allowing for the fact that state codes are only provided
for stations in the US.<h4>

In [38]:
# Perform the LEFT JOIN
joined_country_state_df = joined_countries_df.join(
    states_parsed_df.withColumnRenamed("State_Code","STATE"),
    on="STATE",
    how="left"
)
show_as_html(joined_country_state_df,15)

,STATE,CODE,ID,LATITUDE,LONGITUDE,ELEVATION,NAME,GSN_FLAG,HCN_CRN_FLAG,WMO_ID,Country_Name,State_Name
0,,AC,ACW00011604,17.1167,-61.7833,10.1,ST JOHNS COOLIDGE FLD,,,,Antigua and Barbuda,None
1,,AC,ACW00011647,17.1333,-61.7833,19.2,ST JOHNS,,,,Antigua and Barbuda,None
2,,AE,AE000041196,25.3330,55.5170,34.0,SHARJAH INTER. AIRP,GSN,,41196,United Arab Emirates,None
3,,AE,AEM00041194,25.2550,55.3640,10.4,DUBAI INTL,,,41194,United Arab Emirates,None
4,,AE,AEM00041217,24.4330,54.6510,26.8,ABU DHABI INTL,,,41217,United Arab Emirates,None
5,,AE,AEM00041218,24.2620,55.6090,264.9,AL AIN INTL,,,41218,United Arab Emirates,None
6,,AF,AF000040930,35.3170,69.0170,3366.0,NORTH-SALANG,GSN,,40930,Afghanistan,None
7,,AF,AFM00040938,34.2100,62.2280,977.2,HERAT,,,40938,Afghanistan,None
8,,AF,AFM00040948,34.5660,69.2120,1791.3,KABUL INTL,,,40948,Afghanistan,None
9,,AF,AFM00040990,31.5000,65.8500,1010.0,KANDAHAR AIRPORT,,,40990,Afghanistan,None
10,,AG,AG000060390,36.7167,3.2500,24.0,ALGER-DAR EL BEIDA,GSN,,60390,Algeria,None
11,,AG,AG000060590,30.5667,2.8667,397.0,EL-GOLEA,GSN,,60590,Algeria,None
12,,AG,AG000060611,28.0500,9.6331,561.0,IN-AMENAS,GSN,,60611,Algeria,None
13,,AG,AG000060680,22.8000,5.4331,1362.0,TAMANRASSET,GSN,,60680,Algeria,None
14,,AG,AGE00135039,35.7297,0.6500,50.0,ORAN-HOPITAL MILITAIRE,,,,Algeria,None

In [39]:
output_path1 = "hdfs:///user/uwi14/outputs/ghcnd/joined_countries_state_df.csv"
joined_country_state_df.write.mode("overwrite").option("header", "true").option("compression", "gzip").csv(output_path1)

In [41]:
!hdfs dfs -du -h /user/uwi14/outputs/ghcnd/

4.6 M  18.4 M  /user/uwi14/outputs/ghcnd/Final_stations_df.parquet
2.3 M  9.2 M   /user/uwi14/outputs/ghcnd/joined_countries_df.csv
2.3 M  9.2 M   /user/uwi14/outputs/ghcnd/joined_countries_state_df.csv

<h4>(d) Based on inventory, what was the first and last year that each station was active and
collected any element at all?<h4>

In [42]:
active_years_df = inventory_parsed_df.groupBy('ID').agg(
    F.min('FIRST YEAR').alias('FIRST_ACTIVE_YEAR'),
    F.max('LAST YEAR').alias('LAST_ACTIVE_YEAR')
)
show_as_html(active_years_df,5)

            ID FIRST_ACTIVE_YEAR LAST_ACTIVE_YEAR
0  AEM00041217              1983             2024
1  AGE00147708              1879             2024
2  AGE00147710              1909             2009
3  AGE00147714              1896             1938
4  AGE00147719              1888             2024

<h4>How many different elements has each station collected overall?<h4>

In [46]:
element_count_df = inventory_parsed_df.groupBy('ID').agg(
    F.countDistinct('ELEMENT').alias('DIFFERENT_ELEMENTS_COUNT')
)
show_as_html(element_count_df,5)

            ID  DIFFERENT_ELEMENTS_COUNT
0  USC00030828                        15
1  USC00031442                        20
2  USC00031582                        13
3  USC00031900                        12
4  USC00031956                         2

In [47]:
Modified_Inventory_df = active_years_df.join(
                        element_count_df,
                        on="ID",how="left")
show_as_html(Modified_Inventory_df,5)

            ID FIRST_ACTIVE_YEAR LAST_ACTIVE_YEAR  DIFFERENT_ELEMENTS_COUNT
0  AEM00041217              1983             2024                         4
1  AGE00147708              1879             2024                         5
2  AGE00147710              1909             2009                         4
3  AGE00147714              1896             1938                         3
4  AGE00147719              1888             2024                         4

<h4>Further, count separately the number of core elements and the number of other elements
that each station has collected overall.<h4>

In [50]:
core_elements = ['PRCP', 'SNOW', 'SNWD', 'TMAX', 'TMIN']

# Core elements count
core_elements_df = inventory_parsed_df.filter(inventory_parsed_df['ELEMENT'].isin(core_elements)).groupBy('ID').agg(
    F.countDistinct('ELEMENT').alias('CORE_ELEMENTS_COUNT')
)

# Other elements count
other_elements_df = inventory_parsed_df.filter(~inventory_parsed_df['ELEMENT'].isin(core_elements)).groupBy('ID').agg(
    F.countDistinct('ELEMENT').alias('OTHER_ELEMENTS_COUNT')
)

core_other_elements_df = core_elements_df.join(
                            other_elements_df,
                            on="ID", how="left")

show_as_html(core_elements_df,5)
show_as_html(other_elements_df,5)
show_as_html(core_other_elements_df,5)

            ID  CORE_ELEMENTS_COUNT
0  USC00031442                    5
1  USC00031582                    3
2  USC00031956                    2
3  USC00031962                    5
4  USC00031982                    5

            ID  OTHER_ELEMENTS_COUNT
0  USC00030664                    10
1  USC00030828                    10
2  USC00030842                    11
3  USC00031419                     7
4  USC00031442                    15

            ID  CORE_ELEMENTS_COUNT  OTHER_ELEMENTS_COUNT
0  AEM00041217                    3                   1.0
1  AGE00147708                    4                   1.0
2  AGE00147710                    3                   1.0
3  AGE00147714                    3                   NaN
4  AGE00147719                    3                   1.0

In [52]:
Modified_Inventory_df= Modified_Inventory_df.join(core_other_elements_df,
                                                 on="ID",
                                                 how="left")
show_as_html(Modified_Inventory_df,5)

,ID,FIRST_ACTIVE_YEAR,LAST_ACTIVE_YEAR,DIFFERENT_ELEMENTS_COUNT,CORE_ELEMENTS_COUNT,OTHER_ELEMENTS_COUNT
0,AEM00041217,1983,2024,4,3,1.0
1,AGE00147708,1879,2024,5,4,1.0
2,AGE00147710,1909,2009,4,3,1.0
3,AGE00147714,1896,1938,3,3,NaN
4,AGE00147719,1888,2024,4,3,1.0

<h4>How many stations collect all five core elements? How many collect only precipitation and
no other elements?<h4>

In [51]:
all_core_elements_df = core_elements_df.filter(core_elements_df['CORE_ELEMENTS_COUNT'] == 5)
all_core_elements_count = all_core_elements_df.count()
print(f"Stations collecting all five core elements: {all_core_elements_count}")

Stations collecting all five core elements: 20467

In [53]:
only_precipitation_df = inventory_parsed_df.filter(
    (inventory_parsed_df['ELEMENT'] == 'PRCP') & (~inventory_parsed_df['ID'].isin(other_elements_df.select('ID').rdd.flatMap(lambda x: x).collect()))
)
only_precipitation_count = only_precipitation_df.select('ID').distinct().count()
print(f"Stations collecting only precipitation and no other elements: {only_precipitation_count}")

Stations collecting only precipitation and no other elements: 35662

In [45]:
#C5

In [54]:
collected_elements_df = inventory_parsed_df.groupBy('ID').agg(
    F.collect_set('ELEMENT').alias('COLLECTED_ELEMENTS')
)
show_as_html(collected_elements_df,5)

            ID              COLLECTED_ELEMENTS
0  AEM00041217        [TMAX, TMIN, PRCP, TAVG]
1  AGE00147708  [TMAX, TMIN, PRCP, SNWD, TAVG]
2  AGE00147710        [TMAX, TMIN, PRCP, TAVG]
3  AGE00147714              [TMAX, TMIN, PRCP]
4  AGE00147719        [TMAX, TMIN, PRCP, TAVG]

In [55]:
Modified_Inventory_df= Modified_Inventory_df.join(collected_elements_df,
                                                 on="ID",
                                                 how="left")
show_as_html(Modified_Inventory_df,5)

,ID,FIRST_ACTIVE_YEAR,LAST_ACTIVE_YEAR,DIFFERENT_ELEMENTS_COUNT,CORE_ELEMENTS_COUNT,OTHER_ELEMENTS_COUNT,COLLECTED_ELEMENTS
0,AEM00041217,1983,2024,4,3,1.0,"[TMAX, TMIN, PRCP, TAVG]"
1,AGE00147708,1879,2024,5,4,1.0,"[TMAX, TMIN, PRCP, SNWD, TAVG]"
2,AGE00147710,1909,2009,4,3,1.0,"[TMAX, TMIN, PRCP, TAVG]"
3,AGE00147714,1896,1938,3,3,NaN,"[TMAX, TMIN, PRCP]"
4,AGE00147719,1888,2024,4,3,1.0,"[TMAX, TMIN, PRCP, TAVG]"

In [57]:
output_path3 = "hdfs:///user/uwi14/outputs/ghcnd/Modified_Inventory_df.parquet"
Modified_Inventory_df.write.mode("overwrite").option("compression", "snappy").parquet(output_path3)

<h4>(e) LEFT JOIN stations and your output from part (d).
This enriched stations table will be useful. Save it to your output directory. Think carefully
about the file format that you use (e.g. csv, csv.gz, parquet) with respect to consistency
and efficiency. From now on assume that stations refers to this enriched table with all
the new columns included.<h4>

In [59]:
# Perform the LEFT JOIN
Final_stations_df = joined_country_state_df.join(Modified_Inventory_df,
                                                on="ID",
                                                how = "left")
show_as_html(Final_stations_df,5)

,ID,STATE,CODE,LATITUDE,LONGITUDE,ELEVATION,NAME,GSN_FLAG,HCN_CRN_FLAG,WMO_ID,Country_Name,State_Name,FIRST_ACTIVE_YEAR,LAST_ACTIVE_YEAR,DIFFERENT_ELEMENTS_COUNT,CORE_ELEMENTS_COUNT,OTHER_ELEMENTS_COUNT,COLLECTED_ELEMENTS
0,AEM00041217,,AE,24.4330,54.6510,26.8,ABU DHABI INTL,,,41217,United Arab Emirates,None,1983,2024,4,3,1.0,"[TMAX, TMIN, PRCP, TAVG]"
1,AGE00147708,,AG,36.7200,4.0500,222.0,TIZI OUZOU,,,60395,Algeria,None,1879,2024,5,4,1.0,"[TMAX, TMIN, PRCP, SNWD, TAVG]"
2,AGE00147710,,AG,36.7500,5.1000,9.0,BEJAIA-BOUGIE (PORT),,,60401,Algeria,None,1909,2009,4,3,1.0,"[TMAX, TMIN, PRCP, TAVG]"
3,AGE00147714,,AG,35.7700,0.8000,78.0,ORAN-CAP FALCON,,,,Algeria,None,1896,1938,3,3,NaN,"[TMAX, TMIN, PRCP]"
4,AGE00147719,,AG,33.7997,2.8900,767.0,LAGHOUAT,,,60545,Algeria,None,1888,2024,4,3,1.0,"[TMAX, TMIN, PRCP, TAVG]"

In [60]:
output_path2 = "hdfs:///user/uwi14/outputs/ghcnd/Final_stations_df.parquet"
Final_stations_df.write.mode("overwrite").option("compression", "snappy").parquet(output_path2)

In [61]:
pandas_df3 = Final_stations_df.toPandas()
pandas_df3.to_csv("Final_stations_df.csv", index=False)

In [62]:
!hdfs dfs -du -h /user/uwi14/outputs/ghcnd/

5.0 M  20.1 M  /user/uwi14/outputs/ghcnd/Final_stations_df.parquet
1.5 M  6.0 M   /user/uwi14/outputs/ghcnd/Modified_Inventory_df.parquet
2.3 M  9.2 M   /user/uwi14/outputs/ghcnd/joined_countries_df.csv
2.3 M  9.2 M   /user/uwi14/outputs/ghcnd/joined_countries_state_df.csv

In [63]:
#!hdfs dfs -rm -r /user/uwi14/outputs/ghcnd/joined_countries_state_df.csv

<h4>(f) LEFT JOIN your 1000 rows subset of daily and your output from part (e). Are there any
stations in your subset of daily that are not in stations at all?<h4>

In [65]:
Daily_stations_df = daily_data.join(
    Final_stations_df, daily_data.ID == Final_stations_df.ID, "left_outer")
#Daily_stations_df=Daily_stations_df.drop(Final_stations_df['ID'])
show_as_html(Daily_stations_df,5)

,ID,DATE,ELEMENT,VALUE,M_FLAG,Q_FLAG,S_FLAG,OBS_TIME,ID,STATE,...,HCN_CRN_FLAG,WMO_ID,Country_Name,State_Name,FIRST_ACTIVE_YEAR,LAST_ACTIVE_YEAR,DIFFERENT_ELEMENTS_COUNT,CORE_ELEMENTS_COUNT,OTHER_ELEMENTS_COUNT,COLLECTED_ELEMENTS
0,AE000041196,20230101,TMAX,252.0,None,None,S,None,AE000041196,,...,,41196,United Arab Emirates,None,1944,2024,4,3,1,"[TMAX, TMIN, PRCP, TAVG]"
1,AE000041196,20230101,TMIN,149.0,None,None,S,None,AE000041196,,...,,41196,United Arab Emirates,None,1944,2024,4,3,1,"[TMAX, TMIN, PRCP, TAVG]"
2,AE000041196,20230101,PRCP,0.0,D,None,S,None,AE000041196,,...,,41196,United Arab Emirates,None,1944,2024,4,3,1,"[TMAX, TMIN, PRCP, TAVG]"
3,AE000041196,20230101,TAVG,207.0,H,None,S,None,AE000041196,,...,,41196,United Arab Emirates,None,1944,2024,4,3,1,"[TMAX, TMIN, PRCP, TAVG]"
4,AEM00041194,20230101,TMAX,255.0,None,None,S,None,AEM00041194,,...,,41194,United Arab Emirates,None,1983,2024,4,3,1,"[TMAX, TMIN, PRCP, TAVG]"

In [66]:
stations_not_in_stations_df = Daily_stations_df.filter(Final_stations_df["ID"].isNull())
show_as_html(stations_not_in_stations_df,10)
stations_only_in_daily_df_left_count = stations_not_in_stations_df.count()

print(f"Number of stations not in stations using left-join: {stations_only_in_daily_df_left_count}")

,ID,DATE,ELEMENT,VALUE,M_FLAG,Q_FLAG,S_FLAG,OBS_TIME,ID,STATE,...,HCN_CRN_FLAG,WMO_ID,Country_Name,State_Name,FIRST_ACTIVE_YEAR,LAST_ACTIVE_YEAR,DIFFERENT_ELEMENTS_COUNT,CORE_ELEMENTS_COUNT,OTHER_ELEMENTS_COUNT,COLLECTED_ELEMENTS
0,AGM00060640,20230101,TMAX,211.0,None,None,S,None,None,None,...,None,None,None,None,None,None,NaN,NaN,NaN,None
1,AGM00060640,20230101,TMIN,58.0,None,None,S,None,None,None,...,None,None,None,None,None,None,NaN,NaN,NaN,None
2,AGM00060640,20230101,PRCP,0.0,None,None,S,None,None,None,...,None,None,None,None,None,None,NaN,NaN,NaN,None
3,AGM00060640,20230101,TAVG,131.0,H,None,S,None,None,None,...,None,None,None,None,None,None,NaN,NaN,NaN,None
4,AGM00060670,20230101,TAVG,102.0,H,None,S,None,None,None,...,None,None,None,None,None,None,NaN,NaN,NaN,None
5,AGM00060656,20230101,TMIN,86.0,None,None,S,None,None,None,...,None,None,None,None,None,None,NaN,NaN,NaN,None
6,AGM00060656,20230101,TAVG,150.0,H,None,S,None,None,None,...,None,None,None,None,None,None,NaN,NaN,NaN,None

Number of stations not in stations using left-join: 7

<h4>How expensive do you think it would be to LEFT JOIN all of daily and stations? Could
you determine if there are any stations in daily that are not in stations without using
LEFT JOIN?<h4>

In [ ]:
#We can use anti-join to determine the stations in daily that are not in stations

In [67]:
stations_only_in_daily_df  = daily_data.join(
    Final_stations_df, daily_data.ID == Final_stations_df.ID, "left_anti")
show_as_html(stations_only_in_daily_df,10)
stations_only_in_daily_df_anti_count = stations_only_in_daily_df.count()

print(f"Number of stations in daily not in stations using anti-join: {stations_only_in_daily_df_anti_count}")

            ID      DATE ELEMENT  VALUE M_FLAG Q_FLAG S_FLAG OBS_TIME
0  AGM00060640  20230101    TMAX  211.0   None   None      S     None
1  AGM00060640  20230101    TMIN   58.0   None   None      S     None
2  AGM00060640  20230101    PRCP    0.0   None   None      S     None
3  AGM00060640  20230101    TAVG  131.0      H   None      S     None
4  AGM00060670  20230101    TAVG  102.0      H   None      S     None
5  AGM00060656  20230101    TMIN   86.0   None   None      S     None
6  AGM00060656  20230101    TAVG  150.0      H   None      S     None

Number of stations in daily not in stations using anti-join: 7

In [17]:
# Run this cell before closing the notebook or kill your spark application by hand using the link in the Spark UI

stop_spark()